[2014-12-12 20:16] nosami opened #1 "Not working on mono"
[code]

[2014-12-14 22:50] nosami opened #2 "Find Usages"

[2014-12-14 22:51] nosami opened #3 "Ctrl-C should quit the application"

[2014-12-14 22:51] nosami opened #4 "Global error handler to log any exceptions."
All exceptions are currently swallowed without any messages. We should output these.

[2014-12-14 22:52] nosami opened #5 "Find Implementations"
Should jump if there is only one, otherwise return a list of 'QuickFix' (eurgh) objects.

[2014-12-14 22:54] nosami opened #6 "Code Actions / Issues"
Probably want to go with NRefactory 6 for this.... but should also look at https://github.com/code-cracker/code-cracker

[2014-12-14 22:55] nosami opened #7 "Better code completions"
Currently /autocomplete returns a list of symbols ... but only after a '.'

Also we don't get any parameter information or 'snippets'

[2014-12-14 22:55] nosami opened #8 "Support MSBuild workspaces"

[2014-12-14 22:57] nosami opened #9 "Test information controller"
OmniSharp v1 can get test commands to be run in a shell based on the current context. We need to support this.

[2014-12-14 22:58] nosami opened #10 "Code Formatter"

[2014-12-14 22:59] nosami opened #11 "Type Lookup"
Omnisharp v1 has a /typelookup handler. This shows type information for the point under the cursor or method signatures etc. It's analagous to the mouseover tooltip in VS.

[2014-12-14 23:01] nosami opened #12 "Find Symbols / Find Types"
Omnisharp v1 currently has separate endpoints for these. They are analagous to Ctrl-T in resharper v8

Maybe consider combining these.

[2014-12-14 23:02] nosami opened #13 "MSBuild integration"
Once we have MSBuild workspaces, we need handlers for adding / removing files from projects, add / remove references (GAC / local / project)

[2014-12-14 23:03] nosami opened #14 "/checkalivestatus endpoint"
returns true if the server is running

[2014-12-14 23:04] nosami opened #15 "/checkreadystatus"
Returns true if the server is ready to start taking requests.

[2014-12-14 23:04] nosami opened #16 "/stopserver"
stops the server

[2014-12-14 23:05] nosami opened #17 "/updatebuffer"
Updates the current Roslyn workspace with the buffer currently in the editor.

[2014-12-14 23:05] nosami opened #18 "Rename symbol"
Should be able to rename a symbol or type possibly across multiple buffers.

[2014-12-14 23:10] nosami opened #19 "create endpoint `/reloadsolution`"
Reloads the current Workspace with the files on disk. Useful after making a big change to the solution such as deleting a folder or switching git branches etc.

[2014-12-14 23:11] nosami opened #20 "overrides handler"
We need 2 endpoints. One to return the list of possible overrides, the other to select an override and insert a stub method.

[2014-12-15 01:37] davidfowl opened #21 "Support goto definition for things that don't exist in source"
Similar to how visual studio shows definitions from metadata instead of source

[2014-12-15 01:38] #18 closed, assigned to davidfowl

[2014-12-15 11:47] nosami opened #22 "Expose k commands"
We need a new endpoint that can list the available k commands that can be ran from an editor.

[2014-12-16 11:51] nosami opened #24 "Debugger"
[code]

[2014-12-16 13:55] nosami opened #25 "Request / Response logging middleware"
TraceType.Info should show each request url with the time taken to execute the request.

TraceType.Verbose should show the request header/body and response header/body also.

[2014-12-17 12:39] jrieken opened #26 "Support diff based buffer sync"
Instead of asking people to send the full buffer in all cases we should (a) make that optional and (b) add a way to send a diff so that sources can be updated incrementally. That way we will unleash the power of Roslyn.

[2014-12-17 17:14] nosami opened #27 "form-url-encoded"
The server should support both form-urlencoded and json body requests.

[2014-12-17 17:43] #17 closed, assigned to jrieken

[2014-12-18 09:39] #26 closed, assigned to jrieken

[2014-12-18 11:06] #11 closed, assigned to jrieken

[2014-12-18 11:08] #8 closed, assigned to jrieken

[2014-12-18 11:17] #4 closed, assigned to nobody

[2014-12-18 12:27] nosami opened #28 "Support emacs on Windows"
Emacs always sends '/' as the path separator (even on Windows).

We should support this.

[2014-12-18 12:29] #28 closed, assigned to nobody

[2014-12-18 14:08] nosami opened #29 "Endpoint list"
## v1 endpoints

- [ ] /addreference
- [ ] /addtoproject
- [x] /autocomplete
- [ ] /buildcommand
- [ ] /buildtarget
- [x] /checkalivestatus
- [x] /checkreadystatus
- [x] /codecheck
- [x] /codeformat
- [x] /currentfilemembersasflat
- [x] /currentfilemembersastree
- [ ] /currentfiletopleveltypes
- [x] /findimplementations
- [x] /findsymbols

~~- [ ] /findtypes~~
- [x] /findusages
- [ ] /fixcodeissue

[2014-12-18 14:48] jchannon opened #30 "Find sln / project.json"
The server should be responsible for finding the root path where the solution file or project.json is based upon the filepath sent in the buffer

[2014-12-18 15:38] nosami opened #31 "Formatting options"
We need to serialize these http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.CSharp.Workspaces/Formatting/CSharpFormattingOptions.cs,dac739b7b8a53984

and http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.Workspaces/Formatting/FormattingOptions.cs,2ce68197c6bbf674
into the config file, and load them on solution start into Workspace.Options

We also need a web UI for managing these.

[2014-12-18 17:12] nosami opened #32 "Code check is slow"
The response time is lying.
![codecheck](https://cloud.githubusercontent.com/assets/667194/5492383/1271c796-86d9-11e4-991d-36db55dc7749.gif)

[2014-12-18 18:07] nosami opened #33 "Type lookup should show namespace for types."
Otherwise, it's not really giving us any useful information.

[2014-12-18 18:38] #2 closed, assigned to nosami

[2014-12-18 19:19] #33 closed, assigned to nobody

[2014-12-18 19:20] #3 closed, assigned to nobody

[2014-12-18 22:59] #32 closed, assigned to nobody

[2014-12-20 18:06] davidfowl opened #34 "Add end point to trigger file change"
We need an endpoint that the editor triggers when interesting files change. This will be used to update the workspace for new files, project/dependency changes, project additions/removals etc.

[code]

[2014-12-20 22:38] #25 closed, assigned to nobody

[2014-12-23 16:02] DustinCampbell opened #36 "Use MSBuild Solution-parsing API"
Currently, there are some files copied over from Roslyn to handle solution parsing. Eventually, the new MSBuild solution parsing API should be used, which is coming in MSBuild v12.

[SolutionFile](http://msdn.microsoft.com/en-us/library/microsoft.build.construction.solutionfile%28v=vs.121%29.aspx)
[SolutionConfigurationInSolution](http://msdn.microsoft.com/en-us/library/microsoft.build.constructio

[2014-12-27 16:30] #14 closed, assigned to nobody

[2014-12-27 16:31] #15 closed, assigned to nobody

[2014-12-27 17:47] nosami opened #38 "Snippeted completions"
To allow this

![out](https://cloud.githubusercontent.com/assets/667194/4607759/1cd4163a-525e-11e4-802c-9620427778dc.gif)

[2015-01-09 17:28] jrieken commented on #10
closing this one and doing more wrt #31

[2015-01-09 17:28] #10 closed

[2015-01-09 17:29] jrieken commented on #22
@davidfowl - Already an idea how to approach this? Monaco is showing some interest here as well ;-)

[2015-01-09 17:35] davidfowl commented on #22
Yes, I do :smile: . We need a new end point the project information. The question is, should we make it general so that it can support both project types, or should we have a project.json one and an msbuild one?

[2015-01-11 19:09] davidfowl commented on #22
I've added a /projects endpoint that should surface project information (for both project types).

[2015-01-11 19:09] #22 closed

[2015-01-11 19:10] davidfowl commented on #22
Fixed in https://github.com/OmniSharp/omnisharp-roslyn/commit/fb5d2f177a48abca375ba86133953ed09246d271

[2015-01-12 10:14] jrieken commented on #22
Thanks!

[2015-01-12 13:32] jrieken opened #40 "implement currentfilemembersas[tree|flat]"

[2015-01-12 14:39] #40 closed

[2015-01-14 11:38] jrieken opened #41 "quickfixes should also include EndLine and EndColumn"
Today quick fixes only include the (Start)Line and (Start)Column but the EndLine and EndCharacter usually isn't populated (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Navigation/OmnisharpController.QuickFixes.cs#L25).

[2015-01-14 12:21] jrieken opened #42 "/projects should also support POST requests"
For clients that only support POST requests and for the sake of uniformed results, the project information API should also allow such requests

[2015-01-14 13:20] #42 closed

[2015-01-14 13:22] #41 closed

[2015-01-15 15:44] jrieken opened #43 "AspNet5ProjectSystem should fail gracefully when there is no default k"
When a user hasn't installed and defaulted a version of k, #getRuntimePath throws an exception which ripples through the init procedure so that it brings down Omnisharp. It should be a little more graceful...

[2015-01-16 06:18] davidfowl commented on #43
Yar!

[2015-01-19 14:27] jrieken commented on #43
@davidfowl for now I made it fail less catastrophic. since this is such a low level problem we should maybe think of adding a diagnostics field to the ```AspNet5Context``` so that the /projects route tells you about it.

[2015-01-19 20:31] nosami commented on #38
This is mostly done now. Just need to differentiate between instatiating a type (need to show constructor parameters) and just declaring a type.

[2015-01-21 16:14] jrieken opened #47 "DesignTimeHostManager only waits 1 sec"
the DTH manager gives the dth host 1 second to start and start listening. If you have a slow machine or a machine under load this won't be enough. we should either wait longer or try a few times in a short interval.

https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/AspNet5/DesignTimeHostManager.cs#L62

[2015-01-21 16:16] nosami commented on #47
Think I'd prefer a smaller interval with retry. The 1 second pause is too long for me :)

[2015-01-21 16:17] jrieken commented on #47
:+1: seems like you are spoiled with a monster machine ;-)

[2015-01-21 16:21] jrieken opened #48 "Omnisharp should have a self termination feature"
Omnisharp is mostly kept as a child process of some editor process. On some platforms (like windows) a crash of the parent process doesn't mean termination of its children but they become parents. This will lead to unpleasant process leakage. To tackle this, Omnisharp should have an option to check for the status of its owning process and terminate itself when the parent is gone. This is analog to

[2015-01-21 16:22] nosami commented on #48
Doesn't work on mono :(

[2015-01-21 16:30] jrieken commented on #48
but hopefully soon ;-)

[2015-01-21 16:31] nosami commented on #48
So long as we have the same PlatformHelper.IsMono check, it's fine.

On Wed, Jan 21, 2015 at 4:30 PM, Johannes Rieken <notifications@github.com>
wrote:

[2015-01-21 21:48] mat-mcloughlin opened #50 "Adding parameter info to intellisense"
Got the ability to add some basic parameter hinting in brackets so I was going to modify the intellisense request to include parameter info if asked for.

@jrieken heard you might have some interest in this so I figured I'd flag it before I go ahead

[2015-01-22 15:37] jrieken commented on #50
yes - can you shed some details about how you will approach this?  Will this be part of the completions route or a separate route like TypeScript does it (https://github.com/Microsoft/TypeScript/blob/master/src/services/services.ts#L5400)

[2015-01-23 13:04] jrieken commented on #43
Closing since it doesn't fail so bad anymore with the change above.

[2015-01-23 13:04] #43 closed

[2015-01-23 13:50] mat-mcloughlin commented on #50
I was gonna do it as part of the intellisense request as I didn't need much functionality but @davidfowl has told me to stop being rubbish and do it propertly :)

Looking at how typescript does it makes sense so I'll try and replicated something similar. I'll let you know how it goes

[2015-01-28 07:29] filipw opened #55 "Trying to apply changes to OmnisharpWorkspace results in exception"
When any of the endpoints tries to apply *any* solution changes (add file, rename content, refactor etc etc) to the workspace using

                // Attempt to update the workspace
                if (_workspace.TryApplyChanges(solution))
                {
                    response.Changes = changes;
                }

OmniSharp will not do it - instead it will throw an exception.

See scree

[2015-01-28 09:14] davidfowl commented on #55
Well obviously not *any* change, but changes that make sense. The Omnisharp workspace is a bit special since it backs both msbuild projects as well as project.json based projects. We'll need to think through this a bit.

[2015-01-28 09:41] filipw commented on #55
`ApplyChangesKinds` enum defines the types of changes that can happen to a workspace. here is what `MSBuildWorkspace` does:

        public override bool CanApplyChange(ApplyChangesKind feature)
        {
            switch (feature)
            {
                case ApplyChangesKind.ChangeDocument:
                case ApplyChangesKind.AddDocument:
                case ApplyChangesKind.RemoveDoc

[2015-01-28 09:43] davidfowl commented on #55
I'm aware, I'm asking what this change will fix at this very moment. Without thinking about how the OmnisharpWorkspace affects the underlying project system, does this change make sense without the rest?

[2015-01-29 11:56] #47 closed

[2015-01-29 14:01] #48 closed

[2015-01-29 17:57] jrieken commented on #55
hm - need to think more on this. persisting changes on disk (and even in memory) conflicts with incremental buffer updates. so, when you send the full contents of a file on every keystroke you won't have a problem but when you actually send the changes (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Buffer/OmnisharpController.Buffer.cs#L20) this will become a problem a

[2015-01-29 18:16] filipw commented on #55
what is the use case for `changebuffer` (because I don't think it existed in Omnisharp v1)?

anyway, once you trigger a refactoring endpoint like the rename one, you get the a list of `ModifiedFileResponse` back so on the client side you know exactly what has changed.

[2015-01-30 08:58] jrieken commented on #55
```changebuffer``` serves two purposes: (1) minimize the data that is exchanged between an editor and omnisharp (think of a large file and rapid typing) and (2) leverage the incremental parser in Roslyn by changing a source text via a series of text edits.

Because of that it's vital that the states of documents in Roslyn and editors are equal and advance simultaneously.

[2015-01-30 09:01] jrieken opened #58 "Support format on type"
We should support formatting a block of code when ```}``` and ```;``` are pressed.

[2015-01-30 19:31] nosami commented on #7
Need to order completions like this :-

	* Completions are ranked in the following order
		* Exact start match (case sensitive)
		* Exact start match (case insensitive)
		* CamelCase completions
		* Subsequence match completions

[2015-01-30 22:29] mat-mcloughlin opened #59 "Getting a log level of hidden in the quick fixes"
Some of the messages that come back from the quick fixes have a log level of "hidden". For example

    {
        LogLevel: 'Hidden',
        FileName: 'C:\\GitHub\\omnisharp-roslyn\\src\\OmniSharp\\Api\\Status\\OmnisharpController.Status.cs',
        Line: 1,
        Column: 1,
        EndLine: 1,
        EndColumn: 14,
        Text: 'Unnecessary using directive.'
    }

[2015-01-31 09:58] davidfowl commented on #59
And?

[2015-01-31 13:06] mat-mcloughlin commented on #59
And I'm assuming it not right? :)

[2015-01-31 13:19] #59 closed

[2015-02-01 00:16] #55 closed

[2015-02-06 20:33] Mpdreamz commented on #31
Assigning this to me since I'm taking a stab at plugging editorconfig in. Finally making use of the rewrite to managed code :D https://www.nuget.org/packages/editorconfig

[2015-02-08 16:06] jchannon opened #66 "Code actions that show UI in visual studio -- missing?"
When you have a interface and you get code actions on the name of your interface v1 server showed "implement inteface", eg/ https://github.com/OmniSharp/omnisharp-server/pull/151/files

[2015-02-08 19:17] Yantrio commented on #66
I can't find anything in NR6 about abstract classes :cry: Also, stuff like this ( [NR6/.../ImplementInterfaceAction.cs](https://github.com/icsharpcode/NRefactory/blob/roslyn/ICSharpCode.NRefactory.CSharp.Refactoring/CodeActions/ImplementInterfaceAction.cs ) ) makes me think that NR6 isn't 100% ready for us to use, and we may have to cherrypick codeactions from all over :)

[2015-02-08 19:21] #1 closed

[2015-02-08 19:22] Yantrio commented on #6
this was kicked off with #63, however it could be good to keep this open for discussion.
We are going to want to pull in codeactions from different providers and cherry pick them, apart from vanilla roslyn + NR6, what else is there out there?

[2015-02-08 20:17] nosami commented on #6
Code crackers
On 8 Feb 2015 19:22, "James Humphries" <notifications@github.com> wrote:

[2015-02-09 08:17] jrieken commented on #31
:+1:

[2015-02-09 10:34] jchannon commented on #66
Another one missing - "create field from ctor arg"

[2015-02-09 15:29] jchannon opened #68 "High CPU usage"
Something is causing 70% CPU on one core on mono. Not sure whether its the DTH or the server.

I think we're all aware of this but just thought I'd raise an issue

[2015-02-09 15:33] nosami commented on #68
Haven't noticed it myself yet.

[2015-02-09 15:35] jchannon commented on #68
I know I have & @davidfowl @mat-mcloughlin have

[2015-02-09 15:36] nosami commented on #68
OK. Can one of you tell me whether it is DTH or the server?

[2015-02-09 15:39] jchannon commented on #68
Ok just looked and its the server

[2015-02-09 15:41] nosami commented on #68
Can you post the results of ```ps ax | grep klr`` in here?

[2015-02-09 15:43] jchannon commented on #68
![screen shot 2015-02-09 at 15 41 28](https://cloud.githubusercontent.com/assets/105126/6109371/42b424e0-b072-11e4-8b21-f2d44ca3a52a.png)

[15:42:40] jonathan:~ $ ps ax | grep klr
14578   ??  S      0:00.00 /bin/bash /Users/jonathan/Library/Application Support/Sublime Text 3/Packages/OmniSharp/PrebuiltOmniSharpServer/approot/packages/KRE-Mono.1.0.0-beta2/bin/klr Microsoft.Framework.ApplicationHost

[2015-02-09 15:56] nosami commented on #68
I suspect that it's being caused by ManualEventResetSlim

https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Program.cs#L122 or in AspNet5ProjectSystem or the FileSystemWatcher.

CPU usage should be almost 0% when it's not being used.

[2015-02-09 16:13] jrieken opened #69 "explore use of stdin/stdout"
The goal of this exploration is to use stdin/stdout for the communication between omnisharp-roslyn (server) and editors (client). Potential benefits will be

* better performance due to less message overhead (no http headers)
* clean relationship between editor and omnisharp and request ordering - http is multi client, allows for parallel requests etc
* simplified integration into editors as stdin

[2015-02-09 16:17] #58 closed

[2015-02-09 16:37] nosami commented on #69
@filipw changed the code yesterday to add a Global Filter to do the _workspace.EnsureBufferUpdated

You'll need to do it another way.

[2015-02-09 16:39] nosami commented on #69
All logging is done through stderr currently.

[2015-02-09 16:47] davidfowl commented on #69
I do have a crazy idea that would make mvc work over stdin/out.

[2015-02-09 16:54] nosami commented on #69
![image](https://cloud.githubusercontent.com/assets/667194/6110808/41aa7b44-b07c-11e4-8e87-48ac53f81341.png)

[2015-02-09 19:15] filipw commented on #69
clean relationship between editor and omnisharp and request ordering - http is multi client, allows for parallel requests etc

I wonder - has anyone considered building and running a cloud based editor using OmniSharp? as long as workspace is per user, not a singleton, that could work. Someone should change it into a business and challenge https://c9.io :smile:

or, just from the top of my head, h

[2015-02-09 19:23] nosami commented on #69
The idea isn't to replace HTTP, but to supplement it for scenarios where
performance is a concern.

On 9 Feb 2015 19:15, "Filip W" <notifications@github.com> wrote:

http is multi client, allows for parallel requests etc

editor using OmniSharp? as long as workspace is per user, not a singleton,
that could work. Someone should change it into a business and challenge
https://c9.io

solution on my d

[2015-02-10 18:05] nosami commented on #69
Another thing to consider is that it might be beneficial to have parallel requests even for a single user.

For example, I might want to get diagnostics and code actions when the cursor stops moving.

[2015-02-10 20:15] nosami commented on #68
Can't reproduce. CPU doesn't go above the 4% mark for me when idle. Profile here https://gist.githubusercontent.com/nosami/08267fedb62edbeb4a27/raw/gistfile1.txt

[2015-02-10 21:42] nosami opened #70 "Don't merge your own Pull Requests"
Ok. I'm guilty of this as well, but from now on, nobody is to merge their own code into master without getting it signed off by one of the other members of the OmniSharp team.

To be merged in, all code must be formatted with spaces not tabs, with 4 spaces wide and using statements ordered correctly.

Also, unless there are exceptional circumstances and you can rationalise them, you *must* provide

[2015-02-10 22:11] davidfowl commented on #70
Yes!!!!

[2015-02-10 22:15] Yantrio commented on #70
:+1:

[2015-02-11 07:59] shanselman commented on #70
Yep.

[2015-02-11 08:08] jrieken commented on #70
:+1:

We should start a contributors guide including the formatting rules etc

[2015-02-11 09:27] mat-mcloughlin commented on #70
Agreed, can I suggest here is a good place to start?

https://github.com/NancyFx/Nancy/blob/master/CONTRIBUTING.md

[2015-02-11 09:43] thecodejunkie commented on #70
Merging your own pull-requests is pointless.. you might as well push straight to master.. and why not force push while you are on it? ;)

Code -> Push a branch -> Send a PR -> Someone else reviews it -> Pulls it if it's OK

Workflow to live by

[2015-02-11 09:47] mat-mcloughlin commented on #70
Also as a side note this. Is it worth revisiting who is able to merge requests. I'm not wanting to push anybodies nose out but I think there should be a couple of core contributors that can/want to monitor the project and keep it going in the right direction.

Thoughts?

[2015-02-11 10:10] filipw commented on #70
reminds me of this

![](http://cdn.meme.am/instances/52307408.jpg)

[2015-02-11 10:11] mat-mcloughlin commented on #70
ahahaha

[2015-02-11 10:12] jchannon commented on #70
Agree. Nancy minions only got write access once it was unmanageable for Andreas & Steve to handle all the PRs even then we have at least 2 minions review before merging.

I'd say Jason should be primary merger and then anyone else he thinks should be allowed to. Others can obviously say I think it looks ok but for now Jason only merges.

Thoughts?

[2015-02-11 10:13] mat-mcloughlin commented on #70
Can you disable PR ability for project owners?

[2015-02-11 10:14] jchannon commented on #70
doubt it

[2015-02-11 19:04] jchannon commented on #68
High CPU usage is only when I open the omnisharp project in Sublime. If I open another in another window its 0.3%

![screen shot 2015-02-11 at 19 03 56](https://cloud.githubusercontent.com/assets/105126/6154063/d069c3c6-b220-11e4-9e1a-60f6731a557e.png)

[2015-02-11 21:06] nosami commented on #70
I don't mind being the owner, but I'm not particularly fussed either way. I think we should just stick to *someone else* merging for a while and see how it goes.

[2015-02-11 21:06] #70 closed

[2015-02-12 11:37] davidfowl commented on #68
Yea, sublime is destroying my machine on osx

[2015-02-12 15:23] jrieken commented on #69
status

- [x] expose controllers via stdio
- [x] use v8 debugger protocol as message envelope
- [ ] update buffers on each request
- [ ] logging, eventing

All of this is pretty prototypical but I can see how we have a future with ```Omnisharp```, ```Omnisharp.Http``` and ```Omnisharp.Stdio```

[2015-02-12 16:34] nosami commented on #69
Am I correct in thinking that if we used the V8 protocol, then even if there wasn't a native v8 debugger for the editor, we could use something like [node-inspector](https://github.com/node-inspector/node-inspector) for debugging c# code?

[2015-02-12 16:42] nosami commented on #69
I also remember talk about using the gdb protocol. What's happening with that?

[2015-02-12 18:33] jrieken commented on #69
for the scope of stdio its more about having some sort of message envelope so that you can correlate a request with a response (https://code.google.com/p/v8-wiki/wiki/DebuggerProtocol defines basic message types, like a request, response, and event and all have a sea-identifier etc). Their ```body```/```arguments``` field correspond semantically to HttpRequest/Response bodies

[2015-02-12 22:10] davidfowl commented on #69
To me, the biggest benefits to something like stdio are:

- 2 way communication
- less dependencies

Downside is the shared resource thing.

[2015-02-13 13:09] nosami opened #75 "/formatOnType doesn't always work"
`/formatOnType` returns no changes when removing the ; from the following snippet and adding it back.

[code]

[2015-02-13 15:10] nosami opened #76 "Code documentation doesn't work on Mono"
Code documentation is currently powered by the Xml Documentation system.

Framework documentation on mono doesn't exist in xml format. So we need to either use MonoDoc or get the Windows xml documents onto users machines somehow :)

[2015-02-13 16:38] jrieken commented on #75
I will take a look - most likely a case in which we don't expand the position to a proper range. I have seen similar issues where ```}``` on a catch block doesn't include the try-part.

[2015-02-13 16:43] jrieken opened #77 "endpoints should follow a naming schema"
https://github.com/OmniSharp/omnisharp-roslyn/issues/29 lists all our endpoints and almost all of them following a ```<verb><Object>``` convention, like ```findUsages```. For those that don't follow this convention (like ```codeformat```) we should introduce alternative routes and deprecate the old ones.

[2015-02-13 17:33] nosami opened #78 "Use new Roslyn Completion List API for IntelliSense"
Internal, but much better. Handles keywords, snippets, named parameters, object initializer etc.

https://github.com/dotnet/roslyn/blob/47ff630cc838b56248022c1d494299f35daec474/src/Features/CSharp/Completion/CSharpCompletionService.cs

[code]

[2015-02-13 17:41] davidfowl commented on #78
epic

[2015-02-13 18:11] jrieken commented on #78
:+1: reflection ftw

[2015-02-13 20:20] filipw commented on #77
same applies to proper use of HTTP methods.

There are plenty of places like this https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/ProjectSystem/OmnisharpController.ProjectSystem.cs#L19 or this https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Status/OmnisharpController.Status.cs#L8

such operations with no side effects should use [safe methods]

[2015-02-15 02:55] nosami commented on #68
I managed to reproduce this with the profiler attached. Server started, didn't use it at all. 100% CPU usage.

Almost definitely the file system watcher.

https://gist.githubusercontent.com/nosami/7cd49757d00b97dec040/raw/gistfile1.txt

[2015-02-15 13:08] jchannon commented on #68
Fixed with #81

[2015-02-15 13:08] #68 closed

[2015-02-15 23:31] khellang opened #84 "Usage of HTTP methods"
What's up with the weird usage of the POST method all over the place? :stuck_out_tongue_closed_eyes:

HTTP has this notion of safe- and idempotent methods (see [section 4.2 of RFC 7231](http://tools.ietf.org/html/rfc7231#section-4.2)), and POST is neither.

I suggest most calls (that doesn't alter the state of the system) are converted to GET so they convey the correct semantics.

[2015-02-15 23:34] khellang commented on #84
Oh, I see @filipw also has suggested this over at https://github.com/OmniSharp/omnisharp-roslyn/issues/77#issuecomment-74320041 :smile:

[2015-02-15 23:48] nosami commented on #84
Yes.... I realise everything that you have said is true and accurate - GET must be idempotent, POST isn't guaranteed to be.

Having said that... I'm not a REST purist.... this isn't meant to be a an example of how to structure a REST service, and never has been...... it's RPC only.

The clients make POST requests for everything, just cos it's easier to have one method that handles everything. I do

[2015-02-15 23:56] nosami commented on #84
fwiw... shit like this makes me wish I'd never used http in the first place.

[2015-02-16 00:02] #84 closed

[2015-02-16 02:36] davidfowl commented on #84
The v1 protocol needs to remain as is. If we do anything it will be a v2 API.

[2015-02-16 03:28] stirno commented on #78
I have a working impl of this in our codebase but it throws under Mono presently with a not-very-helpful error. Haven't had a chance to dig through that yet.

Also theres an internal extension method on document to help create the service, might be better to use that in case it gets more MEFy:

[code]

[2015-02-16 13:16] filipw opened #85 "Remove self references from find usages"
See screenshots

![screenshot 2015-02-15 19 07 49](https://cloud.githubusercontent.com/assets/1710369/6212497/4cb4707a-b5e6-11e4-939f-5e0f33aaca26.png)

![screenshot 2015-02-16 14 15 58](https://cloud.githubusercontent.com/assets/1710369/6212506/5aa20440-b5e6-11e4-8f6f-7242925a4f6b.png)

[2015-02-16 15:34] jrieken commented on #85
Let's have a flag ```IncludeDeclaration``` in the request - that makes v1 happy and also full fills this request.

[2015-02-16 15:35] Yantrio commented on #85
I also need to de-dupe the results, and/or look into the aspnet vs aspnet core and how that is all returned.

[2015-02-16 15:39] nosami commented on #85
IncludeDeclaration is a bad name I think.

I would think of the definition of the symbol, whereas what we really need
is to remove the symbol under the cursor from the usages?

Is there ever a good reason to show the symbol under the cursor when making
a Find Usages request? I can't think of one, but that's what VS does :S

On Mon, Feb 16, 2015 at 3:35 PM, James Humphries <notifications@github.com

[2015-02-16 16:43] jrieken commented on #75
interesting... the code in Omnisharp expands the ```;``` to the whole statement so that it basically becomes a format range of all code you pasted. However, the Roslyn formatter decides not to format it.

[2015-02-16 16:57] nosami commented on #75
Just tried the same thing in VS2015. Doesn't work there either.

On Mon, Feb 16, 2015 at 4:43 PM, Johannes Rieken <notifications@github.com>
wrote:

[2015-02-16 17:22] jrieken commented on #85
Now that I use findUsages for mark occurrences I actually want the symbol under the cursor.

[2015-02-16 17:28] nosami commented on #85
OK. Let's just pick another name for the flag then.
IncludeOriginalLocation??

On Mon, Feb 16, 2015 at 5:22 PM, Johannes Rieken <notifications@github.com>
wrote:

[2015-02-16 17:29] nosami commented on #85
Or just subtract 1 :)

On Mon, Feb 16, 2015 at 5:28 PM, Jason Imison <jasonimison@gmail.com> wrote:

[2015-02-16 17:38] jrieken commented on #85
```ExcludeThisLocation``` is my word - it's sort of aligned with https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Models/FindUsagesRequest.cs#L9. Tho not saying that was a good choise ;-)

[2015-02-16 17:42] nosami commented on #85
Sounds better to me

On Mon, Feb 16, 2015 at 5:38 PM, Johannes Rieken <notifications@github.com>
wrote:

[2015-02-16 18:17] filipw commented on #85
forgot to mention the dupes but I think everyone knows that :)
this can happen not only between aspnet5/aspnetcore5 but also when the same file is linked under multiple projects

![screenshot 2015-02-16 19 16 35](https://cloud.githubusercontent.com/assets/1710369/6217078/7969ccda-b610-11e4-9d18-134d9091c8a1.png)

[2015-02-16 18:52] cubitouch commented on #16
I can take that, Application.Exit() is sufficient or you need something more elaborate ?

[2015-02-16 18:54] nosami commented on #16
Think you need to do this
https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Program.cs#L118

On Mon, Feb 16, 2015 at 6:52 PM, Hugo CARNICELLI <notifications@github.com>
wrote:

[2015-02-16 18:58] cubitouch commented on #16
Thanks, I'm on it :)

[2015-02-16 19:10] nosami commented on #16
👍

[2015-02-16 19:24] filipw commented on #16
i bet kestrel will throw exceptions here, mark my words :smile:

[2015-02-16 20:04] cubitouch commented on #16
Should it return a response ?

[2015-02-16 20:21] davidfowl commented on #16
Don't call application, exit. Use the IApplicationShutdown interface.

[2015-02-16 20:37] Yantrio commented on #85
I'll take a look at all that, does anyone mind if (whilst we are on the subject of extending this) , I add a property that returns the Indentifier name also?

[2015-02-16 20:41] cubitouch commented on #16
System.NullReferenceException:
![image](https://cloud.githubusercontent.com/assets/7486151/6218985/71264080-b624-11e4-953e-a252e1f9b4ce.png)

@davidfowl do you have an idea ? Throwing this when I run a "_applicationShutdown.RequestShutdown();"

[2015-02-17 08:37] jrieken commented on #85
@Yantrio - I think we should include the list of project they are in, for file member elements I have done something similar (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Workers/StructureComputer.cs#L38). In addition tho we should also dedupe them, like we do for IntelliSense or FileMemeberElements (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp

[2015-02-17 12:46] Yantrio commented on #85
@jrieken I agree :) id like to use this for my codelens-alike feature in brackets, and it would be nice to get as much,if not more, information than VS displayed,

[2015-02-17 15:08] nosami commented on #85
Yeah... me and Fowler already discussed putting the project name on usages. And +1 to adding the identifier name.

[2015-02-17 23:23] Pilchie commented on #78
Nice!  I would like to make something like that public at some point after I make something like ICompletionProvider public (my current side project).

[2015-02-19 19:00] cubitouch commented on #16
I will move on something else in the next few days, if someone need to get what I did the other day, in case the kestrel exception is fixed -> https://gist.github.com/cubitouch/99e5d61573c74789b498

[2015-02-20 14:30] nosami commented on #78
Seems that the features assembly doesn't yet have a nuget package - https://github.com/dotnet/roslyn/issues/572

[2015-02-22 08:37] cubitouch commented on #19
Wanna help on that.
I understand what you need, but is there already an endpoint doing something similar ?

[2015-02-22 17:47] nosami commented on #19
There isn't an endpoint for this yet.

It should mimic what the old endpoint
https://github.com/OmniSharp/omnisharp-server/blob/master/OmniSharp/ReloadSolution/ReloadSolutionModule.cs#L10
in omnisharp-server did, i.e. reinitialise the workspace and projects.

It would be useful when switching branch during a git checkout for example
- any time when the solution substantially changes.

On 22 Feb 20

[2015-02-22 17:49] cubitouch commented on #19
Thanks, I will work on that this week :)

[2015-02-22 18:05] nosami commented on #19
:+1:

[2015-02-23 15:46] jrieken commented on #75
I filed this against Roslyn and I am closing this one :arrow_backward:  https://github.com/dotnet/roslyn/issues/779

[2015-02-23 15:46] #75 closed

[2015-02-24 09:50] egamma opened #91 "Add kre beta3 support"
OmniSharp fails to launch when using the latest beta3 kre.

This is the error message:
[INFORMATION:OmniSharp.AspNet5.AspNet5ProjectSystem] Using configured version default
[ERROR:OmniSharp.AspNet5.AspNet5ProjectSystem] The specified runtime path 'default'. Does not exist. Try installing it with kvm install 'default'.

Notice that there is configure version 'default', that refers to beta3. Here is

[2015-02-24 10:30] nosami commented on #91
@Yantrio is looking into this.

[2015-02-24 14:51] jrieken opened #93 "Support logical selections"
The TypeScript playground supports a feature called _logical selection_ - which allows to grow and shrink your selection along the syntax tree. I would love to have something similar in C#.

![logicalselection](https://cloud.githubusercontent.com/assets/1794099/6351538/9f501d46-bc3c-11e4-9c3e-2b1d903914db.gif)

[2015-02-24 14:52] nosami commented on #93
use emacs? :)

[2015-02-24 14:55] Yantrio commented on #93
I would say that this is an editor feature more than anything, similar to multi-cursor selection.

[2015-02-24 14:56] Yantrio commented on #91
This should hopefully be fixed with #92 when it's pulled in :D

[2015-02-24 15:00] jrieken commented on #93
It is an editor feature but it needs a smart guys that tells it what the current syntax tree looks like. So for omnisharp this will be a call like ```getStructureUntilPosition``` returning ranges of syntax nodes. Then it's up to the editor to combine this with other information (like line, block, etc)

[2015-02-24 15:06] nosami commented on #93
![expand](https://cloud.githubusercontent.com/assets/667194/6351829/a4365e52-bc36-11e4-9192-f5bd4df3b948.gif)

Please do ignore me... this is purely a troll.

[2015-02-24 15:09] jrieken commented on #93
:open_mouth:

[2015-02-24 15:28] nosami commented on #91
fixed in #92

[2015-02-24 15:28] #91 closed

[2015-02-24 19:25] cubitouch commented on #19
Should this return a response ?

[2015-02-24 20:57] nosami commented on #19
It should just return true if successful.

[2015-02-25 00:00] nosami opened #97 "Add navigate up/down by method"
Utility method to make navigating up and down by method faster. The response should be the same format as the go to definition response.

If there is no further method up or down, then the response should contain the location of the first or last method. If there are no methods at all, return the current location to make client side integration as simple as possible.

[2015-02-25 20:11] Yantrio opened #100 "Codeactions seem to fall over since beta 3 upgrade"
Both tests need writing, and the NR6 stuff needs fixing..

Seems to throw an typeloadexception when loading the code actions from NR6.

[2015-02-26 09:28] #100 closed

[2015-03-02 16:37] jrieken opened #106 "Should OmniSharp be in charge of file watching?"
I wonder if OmniSharp should be watching files that contribute to the state of a project. Such files are  ```*.cs```-files but also ```project.json```, ```*.proj``` etc. Basically, everything that is loaded (or required) to build up the project state during ```IProjectSystem#Initialize```. My reasoning for doing this in OmniSharp is the following:
* file watching is hard and if it's in OmniSharp e

[2015-03-02 16:37] #69 closed

[2015-03-02 16:46] nosami commented on #106
I think in a perfect world, we would handle this on the server.

However, the mono file watcher is currently terrible in 3.12 (but is currently being worked on). @davidfowl had to remove some file watching code because CPU usage frequently spiked to 100%

Also, I don't see why the editor needs to know what project a file belongs to. None of the editors are project aware.

Although the editors don'

[2015-03-02 17:09] jrieken opened #107 "stdio returns invalid json in some cases"
When a controller crashes or doesn't write anything to the response stream we will generate JSON like this: ```..."Body":,"Seq":1...```

[2015-03-03 09:26] davidfowl commented on #106
I added https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Services/IFileSystemWatcher.cs a while back so we could get started on something (the interface might need some clean up).

So lets do this:

- Implement IFileSystemWatcher and all of the logic within each project system (I think some things are there already) and get that working end to end.
- Have the editor watch fi

[2015-03-03 14:19] #107 closed

[2015-03-04 04:09] sriramgd commented on #16
cubitouch's code stops the server okay when I tested by sending the /stopserver command from omnisharp-vim via python on ubuntu and windows. The only change I had to make was to use HttpPost since we use that now in omnisharp-vim.
Am I missing something?
cubitouch, would it be possible to submit the PR? If not I can submit it.

[2015-03-04 06:43] cubitouch commented on #16
@sriramgd Please create the PR, glad my gist could help ;)

[2015-03-04 10:48] nosami commented on #16
Oh! That's good news. The bug in Kestrel must be fixed now.

@sriramgd All requests should be POSTs

[2015-03-04 13:21] sriramgd commented on #97
If no one else if working on it, can I take this?

[2015-03-04 13:23] nosami commented on #97
sure! thanks

[2015-03-04 21:28] sriramgd commented on #97
https://github.com/OmniSharp/omnisharp-roslyn/pull/110

[2015-03-05 15:49] jrieken commented on #106
Great - I will start by adding a ```filesChanged``` route which drives a special file watcher implementation. Next step is to establish a way to communicate back the effects of such changes, like new compile errors when removing a reference etc.

[2015-03-06 09:42] jrieken opened #112 "Omnisharp should tell editors when it has changed files"
The Renamer and code actions modify the current solution which means Roslyn already has a newer state in memory than editors assume. This conflict with incremental buffer updates. Take this example

[code]
1. now ```Foo``` is being renamed to ```B``` so that
2. Roslyn already has an updated representation of the document in memory but only after that Omnisharp responds to the editor with
3. either

[2015-03-06 15:52] jrieken opened #113 "rename explodes when executed on a none-source symbol"
Have code like this:

[code]

And rename ```Write``` and :boom: you get

[code]

[2015-03-06 17:06] #113 closed

[2015-03-09 08:46] nosami commented on #97
fixed by #110

[2015-03-09 08:46] #97 closed

[2015-03-09 14:27] jrieken commented on #106
@davidfowl, @nosami - A bit of progress can be found here: https://github.com/OmniSharp/omnisharp-roslyn/tree/filesChanged. Generally, I have exposed ```TriggerChange``` via a controller (maybe more refinement about event types?) and in return I send back events the workspace generates (like project changed, document added etc). The project systems still lack proper handling of file changes, etc w

[2015-03-09 14:51] nosami commented on #112
I'm struggling to understand this. Possibly because I'm not using the TextChanges APIs yet.

What I don't understand is why the text changes aren't applied to the editor after the rename response. After the response has been set, then both editor and server should have the same representation.

Or is the problem that applying text changes to the buffer is triggering new text changes to the server?

[2015-03-09 15:01] nosami commented on #106
I wouldn't worry about the HTTP side. Long polling sounds a little yucky and we'll probably start to migrate the editors over to stdio at some point.

I know that not all editors are created equally, but I don't quite see why the editor even needs to know that a project has been added/changed/reloaded. The thing I like most about using OmniSharp is that I don't even have to think about projects an

[2015-03-09 15:40] jrieken commented on #112
Exactly - applying the changes on the buffer is triggering it again on the server. I really don't like that Roslyn/Omnisharp is making these changes while the editor is having is open. My plan is to use the event channel from #106 to track versions of documents - tho it makes things complicated.

[2015-03-09 15:43] jrieken commented on #106
Yeah - don't really mind if we include project events or not. My main concern is events for documents. However, sending events for projects will get you around the pretty broken ```/projects```-route. Currently, that is indeterministic as its result depend on response messages from DTH (for which we don't wait).

[2015-03-09 16:46] nosami commented on #106
Yeah... that's a good point. I'd forgotten about that :)

[2015-03-10 04:14] davidfowl opened #116 "Handle the rename"
`.k => .dnx`
`klr => dnx`

[2015-03-10 10:14] khellang commented on #116
`dnx`?

[2015-03-10 10:18] filipw commented on #116
https://www.youtube.com/watch?v=fGx6K90TmCI

[2015-03-10 10:21] khellang commented on #116
LOL :grin:

[2015-03-10 16:32] jrieken opened #117 "Sequence contains no elements"
[code]

[2015-03-10 19:37] jrieken commented on #112
On a second though it might be us not using Roslyn properly. IMO it should not change its internal state but only compute edit operation such the editor can drive it. There is https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Rename/RenameOptions.cs#L14 and I wonder if we have tried that. There is something similar with the CodeActions (https://github.com/dotnet/roslyn/blob

[2015-03-11 00:16] nosami commented on #85
fixed by #115

[2015-03-11 00:16] #85 closed

[2015-03-11 00:39] nosami commented on #117
I've seen this too... but can't replicate now. Can you remember how to trigger this?

It looks like a simple fix, but I want to write a test for it.

[2015-03-11 08:36] jrieken commented on #117
I'll keep my eyes open - my impression was that this happens on namespaces but I cannot reproduce either...

[2015-03-11 10:16] jrieken commented on #112
I figured that https://github.com/OmniSharp/omnisharp-roslyn/blame/master/src/OmniSharp/Api/Refactoring/OmnisharpController.Rename.cs#L69 is the cause of evil.

@davidfowl - was there a specific reason for adding that? Iff not I would remove it and have at least rename be proper.

[2015-03-11 10:29] davidfowl commented on #112
I guess there's no reason to apply changes if you're going to send it on the exe request

[2015-03-11 10:30] davidfowl commented on #112
Next*

[2015-03-11 13:54] jrieken commented on #112
Removing ```TryApplyChanges``` conflicts with the assumptions baked into ```RenameFacts.cs```
@filipw Is checking for the source text modifications on purpose or do you agree that only editors (master) should modify the Roslyn state (slave)?

[2015-03-11 14:07] nosami commented on #112
You're the only person sending text changes back currently after the rename. Maybe make the TryApplyChanges dependent on WantsTextChanges  being set?

[2015-03-11 14:20] jrieken commented on #112
hm, could be a pragmatic fix for this. tho I hope eventually everyone will use text changes :pray:

[2015-03-11 14:42] jrieken commented on #34
dup of #106

[2015-03-11 14:42] #34 closed

[2015-03-11 16:24] Pilchie commented on #112
Okay, sorry for taking so long to get back to this.  The way this is *supposed* to work is that a host of Roslyn (like omnisharp) should have it's own implementation of `Workspace`, and that should override `TryApplyChanges` to apply the changes in it's own, host specific way.

In `MSBuildWorkspace`, this means writing the saved files to disk.  In VS, this means writing closed files to disk, and e

[2015-03-12 08:39] jrieken commented on #112
Thanks - so we do have our own version of a workspace - ```OmnisharpWorkspace```. It could be in charge of this but it is more complex to send back the changes via http/stdio during that call. Also we lack the notion of open (in an editor) and not open files.

[2015-03-12 08:57] davidfowl commented on #112
Yes so this actually doesn't apply to the http protocol. You have to rely on the buffer being sent back for omnisharp v1 clients. For one using the emitter, we can send the change back on workspace changed events.

[2015-03-12 09:14] jrieken commented on #112
plus the open, closed notion. TypeScript server does something similar: https://github.com/Microsoft/TypeScript/blob/master/src/server/protocol.d.ts#L310

[2015-03-12 11:30] jrieken commented on #117
should be fixed with https://github.com/OmniSharp/omnisharp-roslyn/pull/118

[2015-03-12 11:30] #117 closed

[2015-03-12 15:11] nosami commented on #116
fixed in #120

[2015-03-12 15:11] #116 closed

[2015-03-16 21:55] mat-mcloughlin opened #128 "Failing test on Windows"
We've got a test that fails on Windows but not nix

`FormattingFacts.TextChangesAreSortedLastFirst`

For some reason its returning 8 spaces as the text change in windows and only a single space on nix.

Had a quick peek around but not familiar with the code so may be one for @jrieken :)

[2015-03-17 02:58] CoreyKaylor opened #129 "Auto-import assembly / namespace"
Similar to the way that R# can automatically import namespaces and add references based on code written into the editor. It would be nice if omnisharp could do the same type of thing.

Golang has a similar behavior with the vim-go plugin. In the event of a conflict or multiple matches it defaults to the first match last time I checked. That might be a good starting point. I actually like the behav

[2015-03-17 09:41] jrieken commented on #128
Funky - it seems to pick up a setting from somewhere ;-) I will investigate but I am afraid I won't find time before tomorrow.

[2015-03-17 09:43] mat-mcloughlin commented on #128
Ah, good. At least it wasn't something obvious I was missing :)

[2015-03-17 09:45] jrieken opened #130 "/project returns incomplete information"
The route ```/project``` returns incomplete information because it only goes for the first project a file is contained in, not all. I think we should return a ```WorkspaceInformationResponse``` where the list of projects is filtered by the containment of the file in question.

@cubitouch What's is your take?

[2015-03-17 09:45] jrieken commented on #50
I will tackle this next week, but not as IntelliSense but as a separate route ala ```GetParameterHelpAtPosition```

[2015-03-17 09:48] cubitouch commented on #130
@jrieken What kind of file can be contained in multiple projects?

[2015-03-17 10:24] jrieken commented on #130
Basically, any file in a AspNet5 project that uses more than one framework. The ```AspNet5ProjectSystem``` creates a Roslyn project per configured framework so that in almost every AspNet5 scenario you will encounter this (see: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/AspNet5/AspNet5ProjectSystem.cs#L127) That's the reason why projects are called ```<actual_name>+asp

[2015-03-17 10:39] cubitouch commented on #130
Yes, you are right. I missed that.

Maybe the route can return 2 collections of projects (MSBuild ones ans AspNet5 ones), instead of 2 objects as for now ?
To do so we need to update this object : https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Models/ProjectInformationResponse.cs

[2015-03-17 10:45] jrieken commented on #130
We already have ```AspNet5WorkspaceInformation``` and ```MsBuildWorkspaceInformation``` which each feature a collection of projects, also there is ```WorkspaceInformationResponse``` which brings them together. So, my proposal would be to reuse those. It would aligned ```/project``` with  ```/projects``` nicely.

[2015-03-17 10:57] cubitouch commented on #130
Ok, so the route will not return Projects anymore... but a Workspace "current file filtered".

[2015-03-17 12:00] jrieken commented on #130
yeaj ;-)

[2015-03-17 12:05] cubitouch commented on #130
Will have a look at this when I will have a moment, maybe next week.

[2015-03-17 13:56] jrieken commented on #130
great. thx

[2015-03-17 15:05] jrieken opened #131 "Support project wide code check"
When changing code I often break other files that depend on the file I am currently editing, like tests. IMO it would be beneficial if OmniSharp gives me a change to check the whole project at once. I am thinking of ```/codecheck``` without a filename.

[2015-03-17 15:55] nosami commented on #131
Sounds good to me.

[2015-03-17 16:04] jrieken commented on #131
on a second though we can also use the event emitter to send back diagnostics whenever buffers update. that way Omnisharp has a chance to be smart and delay validation when documents constantly change. but maybe that's a different story

[2015-03-17 16:05] nosami opened #132 "OmniSharp version manager."
We've spoken briefly about this on JabbR, but I thought that I'd bring it up on here for us to discuss.

So, right now we have the problem that clients can't easily switch between omnisharp-server and omnisharp-roslyn, and also, users can't easily get updates to omnisharp-roslyn as we release them (they need to wait for binaries to be packaged with the plugin).

To address this, we discussed havin

[2015-03-17 16:29] Yantrio commented on #132
https://github.com/OmniSharp/omnisharp-brackets/blob/master/update-omnisharp.cmd

That is probably the crudest way to do it :) I like the idea of having it come in over something like nuget.

[2015-03-18 11:45] nosami commented on #132
@ctolkien suggested using npm for this

[2015-03-18 16:38] davidfowl commented on #132
NPM? We can just setup a NuGet server on MyGet and push zips to it. Then copy the logic from kvm/dnvm.

[2015-03-18 17:45] nosami opened #134 "Intellisense for project.json / global.json"
We should be able to generate intellisense for these files based on json schemas and nuget feed information.

[2015-03-19 10:42] aeschli opened #135 "/findsymbols returns elements of name 'event MyEvent'"
Use /findsymbols on a project with the following code:
namespace SharpChess.Model
{
    public static class Game
    {
        public static event GameEvent GameResumed;
    }
}

This returns an element with the name 'event GameResumed'.
Expected: 'GameResumed'

[2015-03-19 10:55] aeschli opened #136 "/findSymbols: Support for 'interface', 'enum', delegate' in 'kind'"
/findSymbols returns elements with a kind, giving information about the type of the element.
Right now 'NamedType' is returned for classes, interfaces, enums and delegates.

I'd be great if we can distinguish these and have 'Class', 'Interfaces', 'Enum' and 'Delegate' instead.

'Kind' got added just recently, so refining will not be breaking.

[2015-03-19 14:06] aeschli opened #137 "/getcodeactions: tell me which actions are fixes"
/getcodeactions returns a list of actions for a given range. If the range matches an error, actions to fix the error will be created, but there will also be actions that just refactor the code.

I'd like to know which actions are fixes and which ones are refactorings. As we show code actions along with the error, we only want to show fixes, or at very least give them different icons.

[2015-03-19 14:08] nosami commented on #136
I think if we are going to do this, we should probably do it for intellisense also. I don't use this at all in emacs, so it doesn't make any difference to me.

@mat-mcloughlin, @ctolkien - Would this cause a problem if this was done for intellisense too?

[2015-03-19 21:53] ctolkien commented on #136
:+1 - No issues here, we'll get a benefit of additional icon types in intellisense "lighting up" in the UI (anything coming back currently with 'NamedType' is skipped).

Struct should probably also be in the list?

[2015-03-20 09:10] mat-mcloughlin commented on #132
@Yantrio very crude :)

[2015-03-20 09:13] mat-mcloughlin commented on #136
nope, all good

[2015-03-20 15:30] nosami commented on #135
fixed in #138

[2015-03-20 15:30] #135 closed

[2015-03-20 16:27] nosami commented on #128
Please.... this is tweaking my OCD :)

[2015-03-20 17:01] nosami commented on #129
:+1: Would be cool if it could automatically download nuget packages too. I heard the aspnet team were working on this and would share the code with us.

[2015-03-20 17:18] nosami opened #141 "/fixusings"
omnisharp-server had a /fixusings endpoint. https://github.com/OmniSharp/omnisharp-server/blob/master/OmniSharp.Tests/FixUsings/FixUsingsTests.cs

It would sort, remove and add any missing using statements. In the event of ambiguous using statements when adding, it would return the symbols that couldn't be resolved.

It's essentially a code action, but it isn't context aware, i.e. it can be invoke

[2015-03-20 23:20] mat-mcloughlin commented on #128
Is it worth just skipping the test for now?

[2015-03-20 23:25] nosami commented on #128
Haven't got my head around TextChanges yet, but it looks like a genuine fail - whether that's coming from omnisharp or roslyn, not so sure. But I think we should leave it until we have an answer.

[2015-03-23 13:06] nosami commented on #134
Just had a look at how the [Kulture](https://github.com/OmniSharp/Kulture/blob/master/Completions.py) plugin  works.

It's using hardcoded schema information. We should probably use the [project.json schema information](http://json.schemastore.org/project)

It's also using the following url for nuget information.
https://www.myget.org/F/aspnetrelease/api/v2/Packages()?$select=Id&$format=json&order

[2015-03-24 11:45] Mpdreamz commented on #132
I kind of like NPM as a standard tooling distribution, the aspnet generator project already relies on it.

I would personally also love if the kvm/dnvm were installed through npm

[code]

Easy to remember and same on every platform :smile:

Trolling aside (do forgive me) it does feel right to distribute the `ovm` tooling on NPM and have it download and install server versions from a myget feed.

S

[2015-03-24 11:49] nosami commented on #132
NPM  is certainly the best solution for Atom :) You think we should take a dependency on NPM for emacs users? Not saying we couldn't but it's something to consider.

I'd prefer to take no extra dependencies.

[2015-03-24 11:56] Mpdreamz commented on #132
As a standard means of redistributing `ovm` command line tooling, yes it makes sense, otherwise we have to maintain a shell script and powershell script in the same vain as `dnvm` does. Which currently patches your profile directly to add aliases (not sure how well that flies with the hardcore emacs crowd).

Not against it but not something I'd like to take ownership of tbh.

Or we can publish to

[2015-03-24 12:24] nosami commented on #132
I just stumbled across svm - a version manager for scriptcs https://github.com/scriptcs-contrib/svm

[2015-03-24 14:26] Mpdreamz commented on #132
w00t copy paste svm seems very viable +1:

[2015-03-24 15:06] nosami commented on #132
@filipw You know how svm works? Think it's a good fit for us? Should we steal it?

[2015-03-24 15:08] filipw commented on #132
ping @paulbouwer

[2015-03-24 22:30] #136 closed

[2015-03-24 22:36] paulbouwer commented on #132
I'm happy to have a conversation about what has worked and what hasn't for `svm`. I'm also in the process of moving away from PS (win) and bash (OSX, Linux) - considering node.js or C#/.NET/mono (scriptcs already has those requirements).

It is much easier to maintain a single codebase across platforms for consistency and sanity.

I really like the idea from @Mpdreamz about installing the version

[2015-03-24 22:44] nosami commented on #132
@paulbouwer Interesting. I have mixed feelings about this.

On the one hand I don't think having a dependency on NPM is a good idea, but on the other I don't want to write Yet Another Package Manager.

I think that @Mpdreamz's point about yeoman already requiring NPM is a good one.

If scriptcs worked natively without requiring any install step on any platform, it would be a natural fit for OmniSh

[2015-03-24 22:55] nosami commented on #132
I know - let's use MELPA :) http://melpa.org/#/

[2015-03-25 20:55] nosami commented on #131
fixed by #133

[2015-03-25 20:55] #131 closed

[2015-03-27 17:24] nosami commented on #36
I created an issue requesting a nuget package https://github.com/Microsoft/msbuild/issues/45

[2015-03-27 19:02] nosami opened #143 "Unity Solutions"
We need some slight tweaks to make OmniSharp work well for Unity Developers.

Firstly... Unity itself doesn't need sln or csproj files, but it's possible to generate a solution from the source tree. This creates 2 sln files - projectname.sln and projectname-csharp.sln. We need to always choose the -csharp version if the server is started using the solution root folder.

Secondly... the project fil

[2015-03-30 10:16] jrieken commented on #128
back from :ski: and this is high on my list - it is strange tho and doesn't repo on my windows box...

[2015-03-30 13:46] sriramgd commented on #141
Can I take a shot at this one?

[2015-03-30 14:04] nosami commented on #141
Sure you can.. I started to look into this already. Roslyn has some code for [removing unused usings](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/RemoveUnnecessaryImports/CSharpRemoveUnnecessaryImportsService.cs,22) and [sort usings]http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/OrganizeImports/CSharpOrganizeImportsService.cs,16)

Think you're going to be on yo

[2015-03-30 14:25] nosami commented on #141
Might be easier to wait until the Features assembly has been packaged https://github.com/dotnet/roslyn/issues/572

Otherwise, you're going to end up copying and pasting a lot of code I think :)

[2015-03-31 01:53] sriramgd commented on #141
@nosami , I figured out how to get all unresolved symbols and get the using namespace (or list in case of ambiguous).
I am actually stuck at how to call the remove and sort methods you pointed to - they are declared in an internal namespace, how do I get a handle on the containing classes and call these methods. Any pointer is appreciated.

[2015-03-31 13:10] nosami commented on #141
That's why I mentioned dotnet/roslyn#572. The code that you need is in an assembly that doesn't have a nuget yet.

I think I'd be happy to merge this even if it just has 'Add usings'. We could do the rest later.

[2015-03-31 15:55] mat-mcloughlin commented on #128
Any output I can get you that will help?

[2015-04-01 01:00] CoreyKaylor commented on #141
Even partial functionality would be nice for this I agree.

[2015-04-01 07:39] jrieken commented on #128
@mat-mcloughlin anything is appreciated ;-) this is becoming very weird... can you repro this locally?

[2015-04-02 16:28] jrieken commented on #128
getting there with PR #148 - it is the way git preserves or replaces newline character when fetching stuff...

[2015-04-03 18:43] sriramgd commented on #141
https://github.com/OmniSharp/omnisharp-roslyn/pull/150

[2015-04-05 09:21] mat-mcloughlin commented on #12
Is this done now?

[2015-04-06 21:44] CoreyKaylor commented on #29
Noticing when trying to use omnisharp-emacs with omnisharp-roslyn that there are errors for for /semanticerrors and saw it crossed out here. Is there a plan or workaround for this beyond not using flycheck w/roslyn?

[2015-04-06 22:12] nosami commented on #29
`/semanticerrors', '/syntaxerrors' and '/codeissues' have been superseded by `/codecheck` which performs all 3 actions.

For now, you should probably manually patch it... see here
https://github.com/nosami/omnisharp-demo/blob/master/elpa/omnisharp-20141219.950/omnisharp.el#L980

and https://github.com/nosami/omnisharp-demo/blob/master/elpa/omnisharp-20141219.950/omnisharp.el#L128-L133

[2015-04-06 22:29] CoreyKaylor commented on #29
Much better, thanks for the pointer.

[2015-04-06 22:47] CoreyKaylor opened #151 "Unused using codecheck incorrect"
Using aspnet vnext on mono / mac with emacs. When importing the Shouldy assertion library it seems to report that the using statement is unused, and lower in my tests using the .ShouldBe extension methods it is indicating a missing using statement. Here is what my project.json looks like and the error messages in the Messages buffer. Compiling and running the tests works fine however.

'string' do

[2015-04-07 07:40] jrieken commented on #12
yeah - I think this is https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Navigation/OmnisharpController.FindSymbols.cs#L15

[2015-04-07 12:15] nosami commented on #12
The old server used to put namespace and class names in the text field along with the symbol name.

 We should probably extend the response with this data so the clients can choose to display how they like.

[2015-04-07 14:03] jrieken opened #152 "XML comments often off"
Our XML documentation provider misses some XML child elements. See the screen shot below

![image](https://cloud.githubusercontent.com/assets/1794099/7024783/781f8c60-dd3f-11e4-8c86-e33105585af1.png)

and how the value misses the actual name of the class

[2015-04-07 14:03] jrieken commented on #152
@davidfowl - Any clue how to use this beast?

[2015-04-10 12:58] #128 closed

[2015-04-14 06:44] jrieken opened #156 "Let editors know when no or not the matching DTH could be found"
Not everyone has DNX installed and currently that's buried in an error message somewhere. For a better getting started experience we should use the ```EventEmitter``` and send an explicit message to the editor so that it guide the user through the installation (get dnvm, get dnx, etc)

[2015-04-15 02:06] nosami commented on #143
fixed in #155

[2015-04-15 06:34] #143 closed

[2015-04-16 07:56] egamma opened #163 "Failed to open corefx in OmniSharp"
On OS X using mono 3.12.0

I tried to open corefx in OmniSharp
1) cloned https://github.com/dotnet/corefx.git
2) Opened the solution src/System.Collections/System.Collections.sln

[code]

[2015-04-16 08:02] davidfowl commented on #163
XBuild is a bit of a bug farm. Our best bet here looks like it would be to use the OSS MSbuild so we get full fidelity reading msbuild project files.

[2015-04-16 09:48] jrieken opened #164 "Let editors know when project initialization failed"
When loading csproj files and also project.json files there is potential for disaster - we might be using xbuild #163 or the user malformed the project.json. Current, OmniSharp prints warning and error messages to the console which isn't user friendly. So in addition we should use the emitter to send event down to the editor telling it about those problems.

[2015-04-16 09:49] jrieken commented on #163
@davidfowl - the sad thing is that OmniSharp also fails to load this on windows

[2015-04-20 13:49] #152 closed

[2015-04-20 22:54] jrieken commented on #156
tracked in #172

[2015-04-21 15:30] egamma opened #174 "PathTooLongException"
I'm getting a path too long exception on an ASP.vnext sample project. What puzzles me is that I could work with this project before.

[code]

[2015-04-21 15:32] jrieken opened #175 "rename creates duplicate changes"
when rename is performed on a public symbol which exists in two frameworks/projects you get changes for each document which logically is the same file.

[2015-04-21 15:40] jrieken commented on #174
@davidfowl - this seems to be the ```Microsoft.Framework.FileSystemGlobbing``` library recently added. Is that known to be troublesome with long paths? Iff so we could go with the coreclr code path.

[2015-04-21 16:17] davidfowl commented on #174
Will look into it. I assume this is the usual node modules issue.

[2015-04-21 19:00] jrieken opened #176 "More explicit startup options"
Today OmniSharp starts on either a folder or a sln file and both project systems (msbuild, asp) do things. It sort of goes like this:

* if its a solution file
 * msbuild loads the solution unless there is a sibling unity solution
 * asp discovers all project.json files (honoring a discovery setting) and treats them as project
* if its a folder
 * msbuild checks if there is exactly one solution fi

[2015-04-22 00:34] davidfowl opened #178 "Gray out unnecessary diagnostics in the editor"
This awesome bag in roslyn has an "unnecessary" string.

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs#L194
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Diagnostic/DiagnosticDescriptor.cs#L60

[2015-04-22 05:31] nosami opened #179 "MSBuild Load Error (Tools version 14.0 not supported)"
Reported by @luisrudge
![](https://jabbrlive.blob.core.windows.net/jabbr-uploads/clipboard_851d.png)

[2015-04-22 07:47] egamma commented on #174
Yes that could explain why it worked on first open. On first open the node modules are not restored and on second restore the node modules are there and then the file system globber dives into the node modules.  An ugly work around is to exclude the node modules folder from the matching. There are no projects in the node modules folder.

[2015-04-22 07:50] davidfowl commented on #174
I think that's the cheapest hack we can do for now. @jrieken filed an issue to look at how we generally scan for projects on open.

[2015-04-22 09:14] nosami commented on #176
The only thing that needs to change here is the explicit start with project.json?

[2015-04-22 11:36] david-driscoll opened #180 "Generate typescript definitions for Api/Models and Stdio/Protocol classes"
I made a simple grunt task to regenerate a typescript interface from the classes provided by the server.  Ideally this could be part of the build pipeline for the binaries, so that any editor written in Typescript can strongly type their requests and responses.

https://github.com/OmniSharp/omnisharp-atom/blob/master/tasks/build-models.js

[2015-04-22 12:58] nosami commented on #180
What about using something like this? http://type.litesolutions.net

[2015-04-22 13:36] nosami commented on #156
Fixed in #172

[2015-04-22 13:36] #156 closed

[2015-04-24 05:02] nosami opened #184 "Intellisense bugs"
![screen shot 2015-04-24 at 05 51 28](https://cloud.githubusercontent.com/assets/667194/7312631/c373177c-ea46-11e4-9f90-acc6420dce59.png)

Events have the word 'event' in front of them.

Also, this looks most likely to be a bug in omnisharp-roslyn.
https://github.com/OmniSharp/omnisharp-atom/issues/138

![image](https://cloud.githubusercontent.com/assets/95136/7312486/e6b22ac6-e9ff-11e4-913b-698cf

[2015-04-24 08:34] davidfowl commented on #179
Is msbuild 14 installed?

[2015-04-24 10:18] luisrudge commented on #179
No. It's a solution created in vs 2015 and I'm running vs 2013

Enviado pelo meu Windows Phone
________________________________
De: David Fowler<mailto:notifications@github.com>
Enviada em: ‎24/‎04/‎2015 05:34
Para: OmniSharp/omnisharp-roslyn<mailto:omnisharp-roslyn@noreply.github.com>
Cc: Luís Rudge<mailto:luis@luisrudge.net>
Assunto: Re: [omnisharp-roslyn] MSBuild Load Error (Tools version 14.0

[2015-04-24 13:02] nosami commented on #179
Ah. So this isn't technically an omnisharp issue then.

[2015-04-24 17:06] luisrudge commented on #179
Well, VS2013 has no problem in building this. Omnisharp shouldn't have too.

[2015-04-24 17:09] nosami commented on #179
You don't have msbuild 14 installed though? Didn't you need to change the tools version to 12.0 to get it to work?

[2015-04-24 17:11] luisrudge commented on #179
I don't have msbuild14. Still, visual studio runs just fine, while omnisharp complains about the msbuild version.

[2015-04-25 01:40] #184 closed

[2015-04-25 10:47] davidfowl opened #187 "Rename aspnet5 to dnx*"
DnxProject, Dnx*

[2015-04-26 11:35] nosami opened #188 "Server doesn't start without libuv installed, even when using the stdio interface"
Libuv isn't installed by default for ~~OSX and~~ linux users. See https://github.com/OmniSharp/omnisharp-atom/issues/147

[2015-04-26 13:34] nosami commented on #188
I just tried to replicate this.

For kestrel interface I get this :-

[code]

For stdio interface, it starts fine.

[2015-04-26 13:34] #188 closed

[2015-04-27 09:12] davidfowl opened #189 "Send RefreshDependencies message when project.lock.json changes"
This allows restore be be run outside of the editor

[2015-04-28 08:07] jrieken commented on #189
clever

[2015-04-28 08:59] davidfowl commented on #179
This is going to be tricky and I assume hard to get right. We need to figure out which toolset we should use based on the available toolsets. There's likely some heuristic for this though I have on idea what it is. Maybe we need to look at all available toolsets and pick the "best one".

[2015-04-28 09:10] #189 closed

[2015-04-28 09:12] jrieken commented on #164
With some pull requests we now send an ```ErrorMessage``` when DNX or MSBuild have trouble. Also warnings and (handled) errors are reported

[2015-04-28 09:12] #164 closed

[2015-04-28 10:21] luisrudge commented on #179
:+1: For that

Enviado pelo meu Windows Phone
________________________________
De: David Fowler<mailto:notifications@github.com>
Enviada em: ‎28/‎04/‎2015 05:59
Para: OmniSharp/omnisharp-roslyn<mailto:omnisharp-roslyn@noreply.github.com>
Cc: Luís Rudge<mailto:luis@luisrudge.net>
Assunto: Re: [omnisharp-roslyn] MSBuild Load Error (Tools version 14.0 not supported) (#179)

This is going to be tricky

[2015-04-28 18:02] awec opened #192 "Omnisharp tries (and crashes) to find project.json in folders it has no permission to access"
When Omnisharp is trying to find the project.json it looks at various folders. On OSX, it will crash with the following exception:
[code]

Bug was found in atom, only happens if there is no project.json at the root level and Omnisharp instead goes searching for one.

Should just skip the folders it doesn't have permission to access.

[2015-04-28 18:17] davidfowl opened #193 "Enable the file watcher on windows and use the /filesChanged end point on mono only"
The FileSystemWatcher API does work somewhat on windows and we should use it there.

[2015-04-29 13:22] jrieken commented on #176
yes and no. I wonder if we should stop doing folder-things when starting with a file. That is us looking for a single sln-file in ```foo/bar``` when Omnisharp was started as ```foo/bar/project.json``` and vice versa.

[2015-04-29 19:46] davidfowl opened #195 "Upgrade to beta4 dnx"

[2015-04-30 03:21] davidfowl opened #196 "Build number should burn in the branch and git commit sha"
We should also print out this information on startup.

[2015-04-30 10:06] sp3ctum opened #197 "Incorporate Visual Studio's GDB/LLDB Debug Engine for debugging support"
Hi guys, I saw this in the news just now.

Open Sourcing Visual Studio’s GDB/LLDB Debug Engine
http://blogs.msdn.com/b/vcblog/archive/2015/04/29/open-sourcing-visual-studio-s-gdb-lldb-debug-engine.aspx

I'm opening this for discussion as I'm not very familiar with how debugging works. But my idea is maybe this could provide the means for a debugging api. I know it's something I miss in omnisharp-e

[2015-04-30 10:17] davidfowl commented on #197
I could be wrong but I think debugging has no place in omnisharp-roslyn. The protocol for debugging is between the from end (editor) and the runtime process that was launched. Omnisharp isn't responsible to running user code, it just uses roslyn and exposes a nice REST and stido based interface for clients.

[2015-04-30 10:30] sp3ctum commented on #197
:+1:
I think it sounds reasonable to draw a line there. If debugging were supported, omnisharp-roslyn would have to manage debugging sessions, which are probably better handled by the editors themselves.

At least emacs has means to handle processes pretty nicely, so debugging could be said to be the editors' responsibility on those grounds too.

[2015-04-30 14:05] nosami commented on #179
Fixed by #198

[2015-04-30 14:05] #179 closed

[2015-04-30 14:24] monoman opened #200 "Support LangVersion on MSBuild projects"
Currently my C# 6.0 library project parses incorrectly in Visual Studio Code (gives lots of errors/warnings), because the LangVersion property is not read from the csproj to build correct compiling/parsing options bundles to pass to Roslyn as is done for aspnet5 projects, from my perusal of the code.

Not sure I can cook a nice PR to add the feature, but if you'd prefer, I can try. :smiley:

[2015-04-30 14:32] nosami commented on #200
That would be fantastic if you could do it. You probably want to look at these two files https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/MSBuild/ProjectFile/ProjectFileInfo.cs and https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/MSBuild/MSBuildProjectSystem.cs

[2015-04-30 14:35] monoman commented on #200
@nosami Working on it! :wrench:

[2015-04-30 15:39] nosami commented on #200
@monoman - nice! If you want to test it out, you can set the OMNISHARP environment variable to point to your working copy.

[2015-04-30 18:06] monoman commented on #200
Sent a PR #201, untested as my environment in transition from VS 2015 Preview to RC.
Also discovered that OmniSharp (and thus VS Code) defaults to C# 6, but I used VS 2015 Preview to generate my project and it used an outdated version of C# 6. VS 2015 RC gave me the right messages and actions and as I fixed my source, VS Code/OmniSharp also accepted it ok, so this patch is not that important unles

[2015-05-01 00:32] davidfowl opened #202 "MSBuild support"
Our msbuild project file support is shaky at best, This is an item to keep track of the pending work and challenges involved.

The problems:
- Differences between xbuild and msbuild (maybe we can get the oss msbuild building and running on mono to replace xbuild)
- Using the "right" version of msbuild
- Modifying the project file in a way that round trips with VS
  - Adding references

Hard/Imposs

[2015-05-01 12:05] nosami commented on #134
v3 feed are working well - http://api-v3search-0.nuget.org/query?q=omni

[2015-05-04 13:12] jrieken opened #207 "Files without a project"
In VSCode we encounter solo `cs`-files which don't belong to a project. While we OmniSharp cannot provide semantic features (IntelliSense, type check, etc) we could enable syntactical features which require a parse tree only (Formatting, outline, etc)

[2015-05-04 13:59] nosami commented on #207
Heh... nice to hear you talk about VSCode on here :)

We should be able to support this scenario already, by specifying the folder to the cs file. We do this in other editors already.

[2015-05-05 19:46] romerod commented on #197
But wouldn't it make sense to have a simple rest based interface for debugging all the different .net/mono/dnx applications, without needing to reimplement the different apis over and over again?

[2015-05-05 19:55] davidfowl commented on #197
If you can explain the moving parts and the actors involved and how it would work id be all ears

[2015-05-05 20:06] romerod commented on #197
I was looking at the mdbg api, next step would be to take a look at the mono api and design an API which would make sense.

As omnisharp is able to build a solution, it already knows where the output is. Creating the process and attaching to it, doesn't seem to far of.

But first I wanted to familiarize myself with the existing API.

Offtopic: But I'm struggling to get VS2015 RC to compile omnisha

[2015-05-06 16:05] RichiCoder1 opened #208 "Add Plugins Capability"
It'd be great to add some sort of plugin functionality to omnisharp to enable experiences like ScriptCs without shipping the functionality with omnisharp itself.

Came up as a result of discussion about adding [Cake](https://github.com/cake-build/cake) functionality to omnisharp-roslyn.

[2015-05-06 16:07] nosami commented on #208
:+1: to this. We could also maybe use it to add support to other languages, F# etc.

We are probably going to need to embrace MEF sooner or later, so we should probably consider using MEF to build the plugin layer with.

The biggest issue I think is deciding what the contract needs to look like.

[2015-05-07 07:10] Yantrio commented on #208
I have a good feeling we are going to want this anyway for the code actions and refactorings to bring them in using MEF, the way roslyn intended.

[2015-05-07 07:29] davidfowl commented on #208
Sounds like a great plan

[2015-05-07 19:19] filipw commented on #207
@nosami This doesn't work right now AFAIK because the project systems (asp.net 5 and msbuild) try to find projects in the folder (sln and project.json respectively) and if they don't find any projects, they just exit without populating workspace with anything.

scriptcs project system is the only one that discovers loose files and adds them to workspace but it's `csx` only

[2015-05-07 19:27] nosami commented on #207
Ah, ok. I was getting confused with the old server which does work this way.
On 7 May 2015 20:19, "Filip W" <notifications@github.com> wrote:

[2015-05-08 08:27] AndersNS commented on #202
Detecting the correct target platform needs to be done too. Omnisharp-roslyn seems to default to x86 for me. I worked around this by adding `{ "Platform", "AnyCPU"}` the properties dictionary used by omnisharp-roslyn when creating a ProjectCollection.

Without this I got this error:

[2015-05-09 09:02] mat-mcloughlin commented on #175
Is this just as simple as running a distinct on the response or is it more complicated?

[2015-05-11 01:09] nosami opened #212 "On mono, omnisharp-roslyn should kill the DTH process on exit"
Because of [this](https://github.com/aspnet/dnx/commit/c2cee49b6ee98c811d3343b45d57b71886283e92), the DTH process isn't being terminated.

![dth process](https://cloud.githubusercontent.com/assets/667194/7531124/d896c534-f54c-11e4-9359-1c15b513b3d9.gif)

We should kill DTH on application exit.

[2015-05-11 07:32] nosami commented on #20
The list should only return suggestions for methods that aren't already overriden!

[2015-05-11 10:27] jrieken commented on #212
hm, shouldn't it die by its parent being dead?

[2015-05-11 10:29] jrieken commented on #180
will go into the binaries repo

[2015-05-11 10:29] #180 closed

[2015-05-11 13:28] nosami commented on #212
Ideally, yes.... but it doesn't on mono right now. See the link I referenced.

[2015-05-11 17:14] luisrudge commented on #174
I'm having this issue too.

[2015-05-11 17:34] borgdylan opened #213 "Question: DTH support not only for C#"
Would it be possible to support the DTH stuff irrespective of language? I am asking since getting errors and warnings is achievable using the DNX itself as is done by ```dnu build``` and ```dnu pack```.

[2015-05-12 09:58] jrieken opened #214 "CSX crashes OmniSharp when dependent file not found"
Have code like below but don't have the referenced file. OmniSharp crashed hard.

[code]

error:

[code]

[2015-05-12 09:59] jrieken opened #215 "CSX projects aren't send out with project events"
There is something missing here: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Roslyn/ProjectEventForwarder.cs#L76

[2015-05-12 10:00] nosami commented on #214
@filipw promised to fix any scriptcs bugs :)

[2015-05-12 11:12] filipw commented on #214
yeah the whole thing should be wrapped into a big `try catch`; it should just be no op in case of any error or issue

[2015-05-12 11:25] #200 closed

[2015-05-12 11:31] filipw commented on #214
the same applies to not finding a DLL referenced with `#r "Something"`

for example: `#r "System.ServiceModel.Security"` (it will default to GAC lookup) - will work on Windows, but since it's not available on Mono, it will crash there

[2015-05-12 12:56] jrieken commented on #214
great.

[2015-05-12 12:56] jrieken commented on #215
@filipw - Do also want this one?

[2015-05-12 13:07] filipw commented on #215
yes you can assign all such things to me :)

[2015-05-12 13:38] jrieken commented on #215
:dancers:

[2015-05-12 13:42] jrieken commented on #213
yes - DTH is language agnostics but has "C#-happy-path"-defaults. However, we use DTH to expand glob-patterns for source files and nuget-based dependencies to populate a Roslyn workspace. The latter only supports c# and vb. There is talk to take this further so that other languages can be supported too.

[2015-05-12 13:42] #213 closed

[2015-05-12 13:45] jrieken commented on #207
@filipw - and you go with mscorlib which comes with desktop clr/mono right? So no happy path for core clr users? wondering if we could funnel in some default lib for this case...

[2015-05-12 13:55] filipw commented on #207
yeah right now it just uses desktop/mono mscorlib.
in fact, the whole csx thing is #ifdeffed against ASPNET50 too

I have started a separate repo so that all the same information could be retrieved from CSX files when omnisharp itself runs on coreclr https://github.com/filipw/scriptcs-dnx this is very rough outline now, but this approach should be replacing the embedded scriptcs dlls in the future

[2015-05-12 14:51] borgdylan commented on #208
:+1:

[2015-05-12 15:19] nosami commented on #214
Does scriptcs have good error messages for cases like these?

[2015-05-12 15:22] filipw commented on #214
yeah but they are handled in the `.exe` not in the core packages used here. Either way, we should strengthen this so that stuff never remains unhandled

[2015-05-12 15:33] filipw opened #217 "IFileSystem"
Right now lots of code accesses file I/O directly, making it difficult, if not impossible to be unit tested.
Also, old server had an `IFileSystem`.

Should it be introduced to facilitate more testable code?

[2015-05-12 15:34] nosami commented on #217
I wanted to do this but @davidfowl was against it (something about things not working for real :) )

You should know that System.IO.Abstractions has some serious problems on mono though.

[2015-05-12 15:46] filipw commented on #217
sure on the other hand there all three project systems can explode and crash the server because of failing file I/O. You can fix them manually, but would be nice to have tests after fix too.

@jrieken reported scriptcs issues earlier and below or some scenarios for other project systems:

here is Asp Net 5 project system, executed against a folder that has some folders with locked permissions (it

[2015-05-12 16:52] jrieken commented on #217
well, we should not use ```IFileSystem``` as an excuse for missing error handling ;-) While I see some benefits from having such an abstraction we can hardly use it in the project system magic: DTH and also MSBuild assume a file system and talk to it straight away.

[2015-05-13 02:02] davidfowl commented on #217
@jrieken That.

[2015-05-13 02:03] davidfowl commented on #212
Hmmmm. We do some crazy stuff to try and make this work https://github.com/OmniSharp/omnisharp-roslyn/blob/db74baa796e2dd65c1fd2751c601a02f91617a87/src/OmniSharp/Utilities/ProcessExtensions.cs#L40

[2015-05-13 02:47] davidfowl commented on #197
That's pretty far from the truth :smile:. Debugging is pretty far from what omnisharp-roslyn does today. There are 3 actions involved:

- Editor (place where you can set break points)
- Debugger
- Target process

This issue is about designing a protocol that goes from the Editor to the Debugger, let's call it omnidebug.  Omnidebug would be a generic rest API that any editor can use to debug a mana

[2015-05-13 06:50] jrieken commented on #207
Agreed - orphan ```cs``` files should be handled in a similar fashion to ```csx``` files. We already have a little magic in place that associates an unknown file to the best matching project (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Roslyn/BufferManager.cs#L80) but there is no fallback or default project. So, in the same spirit of OmniSharp v1 I would keep this in pl

[2015-05-13 12:15] nosami commented on #212
I just tried this with VSCode. Same result.

[2015-05-13 12:17] nosami commented on #20
Should we drive this through intellisense snippets instead?

[2015-05-13 12:31] jrieken commented on #212
:scream:

[2015-05-13 13:21] #175 closed

[2015-05-15 07:22] aelij commented on #78
@Pilchie, while you're doing that, how about moving `ISignatureHelpProvider` to the Features assembly and making it public as well? :)
It has no dependency on the VS SDK, so it should be easy (I know because I've [done it](https://github.com/aelij/roslynpad/)).

[2015-05-15 23:08] Pilchie commented on #78
Tagging @dustincampbell on this too.

[2015-05-16 06:53] davidfowl opened #221 "Snippet generator should special case params array and not expand it (maybe)?"
![image](https://cloud.githubusercontent.com/assets/95136/7665094/7cb558a4-fb5d-11e4-95fa-676615c67799.png)

I found this kind of annoying but maybe it's useful. What do others think?

[2015-05-16 11:34] filipw opened #222 "Type lookup should not report namespace for CSX files"
The scripting semantics define that CSX files don't have namespaces - namespace is always null for all the types defined in Interactive/Script code.

Omnisharp does not recognize this and report `.TypeName` instead of just `TypeName`

![csx-typelookup](https://cloud.githubusercontent.com/assets/1710369/7665950/2c897d42-fbd0-11e4-89d6-6d93fb91d817.gif)

[2015-05-18 23:08] nosami opened #225 "Make Rename and Code Actions optionally apply changes to the workspace"
When using editor events to update the server with changes, it's much simpler to have the following workflow :-
[code]
When changes are applied automatically, the editor needs to distinguish between user applied changes and changes that need to be applied due to a refactoring so as not to send changes back to the server that have already been applied.

I propose that we add a flag onto the request

[2015-05-19 05:35] #222 closed

[2015-05-19 05:53] davidfowl commented on #225
What about refactorings that span across the entire project?

[2015-05-19 05:54] nosami commented on #225
Same thing applies. The editor will send the changes back once they have been applied.

[2015-05-19 08:57] jrieken commented on #225
I like. It's related to #112 and something I have on my list for a long time. As Pilchie already mentioned, we should differentiate between _open_ and _closed_ files. I think _closed_ files can be modified on disk straight away but for _open_ files we should generate changes - either small text changes or the big buffer update. I can sign up for this and propose some code.

[2015-05-19 08:59] jrieken commented on #225
more resources: Workspace#TryApplyChanges (http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces) and how MSBuildWorkspace does it (ApplyTextDocumentChanges): http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.Desktop/Workspace/MSBuild/MSBuildWorkspace.cs,993

[2015-05-19 08:59] jrieken commented on #112
will be continued in #225

[2015-05-19 08:59] #112 closed

[2015-05-19 09:00] jrieken commented on #214
this has been fixed

[2015-05-19 09:00] #214 closed

[2015-05-19 09:01] nosami commented on #225
Don't you need to open the closed files though? You'd want to know what changes had been made. You might want to undo.

[2015-05-19 09:08] jrieken commented on #225
Fair point about undo...

[2015-05-19 09:09] nosami commented on #225
I think that even with the open/closed arguement, it would still be possible to keep this workflow. The editor can decide whether or not to open a closed document and send the changes regardless.

[2015-05-19 09:50] jrieken commented on #225
That is true if OmniSharp sends changes for all files (open & closed). Another question is how those changes should be send to the editors? My favourite is the event emitter but then HTTP-editor integrations aren't part of the game anymore. Thoughts?

[2015-05-19 09:52] nosami commented on #225
Currently, the only editors that are using changes are @code and atom (stdio). The others (http) all expect the server to update the workspace and send the entire buffer(s) back.

[2015-05-19 10:15] nosami commented on #225
Using events sounds like the best option when there are many changes to send, so we may as well use that when we have the option.

We can still send the entire buffer (or array of changes) to HTTP clients.

[2015-05-19 10:19] nosami commented on #178
This is also possible using the Classifier / highlighting api

[2015-05-19 10:20] nosami commented on #174
Closing as an editor integration issue.

[2015-05-19 10:20] #174 closed

[2015-05-19 10:35] masaeedu commented on #134
@nosami Is anyone assigned to this?

[2015-05-19 10:36] nosami commented on #134
No. I did hear on the grapevine though that MS might contribute some code
to do this //cc @davidfowl

On Tue, May 19, 2015 at 11:35 AM, Asad Saeeduddin <notifications@github.com>
wrote:

[2015-05-20 14:40] jrieken commented on #93
I don't want this anymore ;-)

[2015-05-20 14:40] #93 closed

[2015-05-20 14:41] jrieken opened #226 "Support <DefineConstants> from *.csproj -file"

[2015-05-20 16:22] jrieken opened #227 "CSX project system should listen file added events"
I would be cool if the ScriptCS project system listens to additions and deletions of CSX files so that OmniSharp doesn't need to be restarted.

[2015-05-20 16:25] nosami commented on #227
Yes!
On 20 May 2015 17:22, "Johannes Rieken" <notifications@github.com> wrote:

[2015-05-20 16:43] filipw commented on #227
does the client currently notify omnisharp at all about new document creation/deletion?

[2015-05-20 16:54] jrieken commented on #227
they should! there is a route ```/filesChanged```

[2015-05-20 16:55] jrieken commented on #227
also on windows we could use the native file watcher, see #193

[2015-05-20 17:03] jrieken commented on #163
closing as dup of #202

[2015-05-20 17:03] #163 closed

[2015-05-20 17:04] jrieken commented on #226
related #202

[2015-05-20 17:21] nosami commented on #227
We add new cs files to a project without a watcher.
On 20 May 2015 17:55, "Johannes Rieken" <notifications@github.com> wrote:

[2015-05-21 07:23] jrieken commented on #227
yeah, but only when their path matches the path of another directory. So, as a first step we could add the logic here: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Roslyn/BufferManager.cs. That would make sure new files sort even without file events

[2015-05-25 09:12] nosami opened #229 "Use events to report diagnostics"
It would be great if errors showed up in the editor as they are found instead of finding them all and then returning. This might mean that the editor has to dedupe errors per framework instead of the server.

Probably need to make a v2 endpoint for this.

[2015-05-26 07:37] jrieken commented on #229
:+1:

[2015-05-26 18:30] borgdylan opened #230 "AspNet5ProjectSystem should filter 'Sources' message by file extension"
Could omnisharp ignore requests pertaining to files that do not have a c# extension?

[2015-05-27 09:03] jrieken commented on #230
Can you reopen with more detail please? In all cases I know of OmniSharp first looks up the file path from the request in the workspace. If the file doesn't belong to any project a default/empty response is generated, e.g. when requesting formatting of an unknown file: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Formatting/OmnisharpController.Format.cs#L18.

[2015-05-27 09:06] borgdylan commented on #230
When in VSCode, if I use a language other than c# in a project.json based project, onnisharp butts in insisting the files are c# even when the extensions say otherwise. This means I get errors/warnings from roslyn when the project should be compiled by the compiler referenced by project.json instead. I have already configured a way to automatically compile using teh other compiler but the errors/w

[2015-05-27 09:09] borgdylan commented on #230
As far as I know roslyn does not check if a file is in its remit or not.

[2015-05-27 09:13] borgdylan commented on #230
If omnisharp ignored requests for files that do not end in .cs or .csx, this problem would not be there.

[2015-05-27 14:01] borgdylan commented on #230
@jrieken the issue cannot be reopened

[2015-05-28 06:41] jrieken commented on #230
Ok, the problem is OmniSharp taking whatever DTH returns as source as C# files - ignoring DTH being language agnostic. Thanks for clarifying!

[2015-05-28 07:00] borgdylan commented on #230
Thanks for understanding. I do hope one day "Omni" will be mean any .NET langauge not just any editor.

[2015-05-28 14:58] nosami opened #231 "Find Symbols should be ranked."
We don't have any specified order.

![screen shot 2015-05-28 at 15 57 07](https://cloud.githubusercontent.com/assets/667194/7863121/4c6058a8-0552-11e5-8ac2-ff4152d63ed8.png)

We should rank results in the same way we do for intellisense.

[2015-05-29 00:18] joeizang opened #232 "Build never completes with System.IO.EndOfStreamException"
System.IO.EndOfStreamException: Failed to read past end of stream.
  at System.IO.BinaryReader.ReadChar () [0x00000] in <filename unknown>:0
  at Microsoft.CodeAnalysis.CvtResFile.ReadStringOrID (System.IO.BinaryReader fhIn) [0x00000] in <filename unknown>:0
  at Microsoft.CodeAnalysis.CvtResFile.ReadResFile (System.IO.Stream stream) [0x00000] in <filename unknown>:0
  at Microsoft.CodeAnalysis.Co

[2015-05-29 00:19] nosami commented on #232
Using mono 4.0.1 by any chance?

On Fri, May 29, 2015 at 1:18 AM, joeizang <notifications@github.com> wrote:

[2015-05-29 00:20] joeizang commented on #232
just a sec...

[2015-05-29 00:21] joeizang commented on #232
guilty...its mono 4.0.1

[2015-05-29 00:22] nosami commented on #232
You should use either mono 3.12 or mono 4.1 (or later)

On Fri, May 29, 2015 at 1:21 AM, joeizang <notifications@github.com> wrote:

[2015-05-29 00:25] joeizang commented on #232
build from source then or a ppa? Will update and try again

[2015-05-29 00:25] nosami commented on #232
However you want :)

On Fri, May 29, 2015 at 1:25 AM, joeizang <notifications@github.com> wrote:

[2015-06-06 23:59] ghost opened #233 "Clean up branches on omnisharp-roslyn"
It looks like there are a number of stale branches on this repository:
https://github.com/OmniSharp/omnisharp-roslyn/branches/stale

It wouldn't hurt to remove these branches. Additionally, there's a number of merged pr's whose branches could also be deleted. (https://github.com/OmniSharp/omnisharp-roslyn/branches/active)

[2015-06-08 18:37] borgdylan commented on #230
@jrieken will the fix make it in a future release of omnisharp that is bundled in VSCode?

[2015-06-09 14:18] #232 closed

[2015-06-11 13:07] jrieken commented on #230
it might not make it into the June release of VSCode, but please stay tuned. wrt DNX vs KRE we are still blocked by a bug in DNX...

[2015-06-16 08:56] fishg opened #239 "Can add a Unity3d debuger?"
Can integrate a debugger like this? @lukaszunity
https://github.com/Unity-Technologies/MonoDevelop.Debugger.Soft.Unity

[2015-06-16 21:07] DustinCampbell commented on #78
I'm going to tracking this over at https://github.com/dotnet/roslyn/issues/3538

[2015-06-16 21:14] DustinCampbell commented on #78
And here: dotnet/roslyn#3540

[2015-06-16 21:24] khellang commented on #78
:+1:

[2015-06-16 21:25] DustinCampbell commented on #78
And if anyone's interested, the branch I'm working out of is at https://github.com/DustinCampbell/roslyn/tree/completion-api.

[2015-06-17 09:44] fishg opened #240 "Not support place omnisharp-roslyn into a folder that named with a space?"
System.InvalidOperationException: Unable to resolve project 'Application' from /Users/myname/Library/Application
  at Microsoft.Framework.Runtime.ApplicationHostContext..ctor (IServiceProvider serviceProvider, System.String projectDirectory, System.String packagesDirectory, System.String configuration, System.Runtime.Versioning.FrameworkName targetFramework, ICache cache, ICacheContextAccessor cac

[2015-06-18 05:48] #240 closed

[2015-06-18 09:08] jrieken commented on #230
PR submitted

[2015-06-18 09:13] borgdylan commented on #230
:+1:

[2015-06-18 11:24] #230 closed

[2015-06-20 22:59] nosami commented on #187
fixed by #245

[2015-06-20 22:59] #187 closed

[2015-06-22 23:19] #192 closed

[2015-06-25 15:17] #50 closed

[2015-06-25 15:19] jrieken opened #248 "format on enter has issues"
Format on enter is more tricky then it seems. We should either take it out or fix it :-/

[2015-06-26 05:51] sjrmanning opened #249 "Homebrew formula/repository"
It would be great to eventually have omnisharp available for install via homebrew, and I was considering pull-requesting this formula into the main homebrew repository but I think they'll require it has some tests post-install — the likelihood of getting it pulled in without that seems low.

In the mean-time, one option is to have a repository for an omnisharp homebrew formula which we can tap wit

[2015-06-26 18:27] davidfowl commented on #249
Why would you want omnisharp on the path?

[2015-06-26 19:49] nosami commented on #249
I think it's because he uses emacs and starts the server manually.

I'm not opposed to this idea in principle, but I just don't want any more future work going forward.

It's not difficult to git clone and set an alias to point to the server.

[2015-06-27 04:40] sjrmanning commented on #249
Obviously someone would need to maintain the formula so a `brew update` sees when a new version is released, but aside from the path thing being able to catch updates and only have to run `brew upgrade omnisharp` would be hugely beneficial for OS X users (in my biased opinion). I guess #132 is tangentially related to this.

[2015-06-27 05:23] davidfowl commented on #249
I wouldn't say OS X users, each editor usually bundles omnisharp. I understand emacs doesn't but it still feels ofd

[2015-06-27 16:10] nosami commented on #249
@sjrmanning - How about I create a repo under https://github.com/OmniSharp and give you write access? It will be your responsibility to keep it updated.

[2015-06-27 21:56] nosami opened #250 "Exception in code actions when cursor is on the last character of the codefix span"
![codeactionexceptions](https://cloud.githubusercontent.com/assets/667194/8394047/b2cd818a-1d1f-11e5-8f23-0d9e3c6f4a71.gif)

[2015-06-28 02:12] sjrmanning commented on #249
@nosami sure I'd be more than happy to do that. It just needs to be prefixed with `homebrew`, e.g. `homebrew-omnisharp`.

[2015-06-28 02:17] nosami commented on #249
@sjrmanning Here you go https://github.com/OmniSharp/homebrew-omnisharp-roslyn :)

[2015-06-28 02:19] sjrmanning commented on #249
@nosami excellent! Thanks very much, will push the current formula along with a little README explaining the use asap :)

[2015-06-28 02:20] nosami commented on #249
thank you!

[2015-06-28 02:20] #249 closed

[2015-06-28 02:23] nosami commented on #249
@sjrmanning I just though.. maybe this should depend on the dnvm homebrew package too?

[2015-06-28 02:54] sjrmanning commented on #249
Yes I think you're right — I'm testing now on a fresh install without dnvm or having run the build.sh to make sure the formula works correctly. I suspect it will complain about missing dnx and the like. `depends_on "aspnet/dnx/dnvm"` should be sufficient. Will do some testing and see.

[2015-06-30 18:04] sp3ctum opened #253 "Running build.sh script on linux mint with mono timeouts and crashes"
(see the title)

I'm not sure I've installed my environment correctly, but I don't know where to begin. A little help?

Output:
[code]
Similar error messages follow, but I didn't catch them from my terminal.

Mono version:
[code]

[2015-06-30 18:05] nosami commented on #253
You need ton install mono 4.0.1

[2015-06-30 18:35] sp3ctum commented on #253
Thanks, I think it works now.

Used http://docs.asp.net/en/latest/getting-started/installing-on-linux.html

Some packages timed out still but the build completed at least.

[2015-06-30 18:35] #253 closed

[2015-07-01 14:58] david-driscoll opened #254 "Travis Releases do not contain windows binaries"
So the traivs releases, do not contain the windows binaries, which means that we can't use just the tar for omnisharp-client.

I'm going to try and fix the client and maybe that fix will apply here as well.

[2015-07-03 05:04] nosami commented on #254
fixed by #255

[2015-07-03 05:04] #254 closed

[2015-07-03 17:14] sp3ctum opened #258 "Find implementations API not finding subclass"
So I started porting omnisharp-emacs over to omnisharp-roslyn. The first thing I'm taking on is porting the integration tests. Most of them seem to run just fine, but here's one that's oddly failing:

[code]

The cursor is on the first instance of the word `BaseClass`. In `omnisharp-roslyn/tests/OmniSharp.Tests/BufferManagerFacts.cs` [one test](https://github.com/OmniSharp/omnisharp-roslyn/blob/ma

[2015-07-03 17:18] sp3ctum commented on #258
However, I also found that if I change the buffer contents to not have the using statement and the namespace block, the subclass can indeed be found. Could this be a bug, perhaps?

[2015-07-03 22:43] nosami commented on #258
Yeah..... looks like a bug to me.

[2015-07-08 19:57] RichiCoder1 commented on #208
:point_right: Any movement on this? Interested in getting Cake support up and running and not sure how to progress.

[2015-07-08 21:19] nosami commented on #208
No, sorry :(

[2015-07-08 21:20] nosami commented on #208
@RichiCoder1 What would you want the interface to look like?

[2015-07-08 21:34] RichiCoder1 commented on #208
I'm honestly not sure. It looks like for both my and ScriptCs's purposes, being able to implement IProjectSystem is enough. I'm not sure if that tells the whole story though.

[2015-07-09 03:58] fishg opened #264 "could not discover the mach TLS offset"
When upgrade to Yosemite El Capitan 10.11 beta3,can't run dnx:
`~/.dnx/runtimes/dnx-mono.1.0.0-beta4/bin/dnx`
`could not discover the mach TLS offset`
`Thread 0x7fff7a897000 may have been prematurely finalized`

What's the error mean?

[2015-07-09 04:01] #264 closed

[2015-07-10 12:37] nosami opened #265 "Lots of mscorlib issues with 3rd party packages"
Moved from https://github.com/OmniSharp/omnisharp-server/issues/204

Hi

I'm getting a lot of mscorlib issues with 3rd party nuget packages, any idea how to fix these?

![2015-07-10_1429](https://cloud.githubusercontent.com/assets/1169539/8618637/474380ea-2710-11e5-9ca3-7c93d73e1e00.png)

![2015-07-10_1430](https://cloud.githubusercontent.com/assets/1169539/8618636/4741cd86-2710-11e5-8619-d7b1e255

[2015-07-14 06:04] yilei opened #266 "formattingOptions.tabSize does not work"
I'm using OmniSharp-Atom, I set Atom's indent size to two spaces, and changed the formattingOptions.tabSize to two in ~/.atom/packages/omnisharp-atom/node_modules/omnisharp-client/roslyn/packages/OmniSharp/1.0.0/root/config.json

But when I type ';' at the end of a line, it auto-indents my code using 4 spaces.

Filing this as suggested by https://twitter.com/jasonimison/status/620833046992916480

[2015-07-14 23:51] jmkelly commented on #265
I'm seeing lots of these as well in existing msbuild projects.  No issue in Visual Studio, but same issue in both omnisharp and VS Code.  All errors seem centered around the mscorlib error above.

[2015-07-16 17:04] tpetrina commented on #78
Hi @DustinCampbell, can you please give an example on how to use the completion API in your branch?

[2015-07-16 17:06] DustinCampbell commented on #78
Patience. :smile: I'm actively integrating it back into Roslyn proper as an internal API. Once that happens, I'll run it through a formal API design process and we'll make it public.

[2015-07-16 17:38] tpetrina commented on #78
OK, thanks. I was under the impression that you are nearly done :P

[2015-07-16 17:40] DustinCampbell commented on #78
Getting pretty close (for example: https://github.com/dotnet/roslyn/pull/3955). I've been on vacation the past several weeks so work halted for a bit. I'm moving much faster now.

[2015-07-17 21:27] RichiCoder1 commented on #208
Realizing I should /cc @patriksvensson

[2015-07-19 02:44] davidfowl opened #268 "Rename AspNet5Options to DnxOptions"
Also change the config file to look like:

[code]

[2015-07-19 02:44] #268 closed

[2015-07-22 07:40] brad-jones opened #272 "Design Time Host on Windows not Starting"
Continuing on from the issue I posted here: https://github.com/OmniSharp/omnisharp-atom/issues/450

[2015-07-22 07:45] brad-jones commented on #272
Just cloned the master branch and built it.
When I run _omnisharp.cmd --stdio_, I get:

[code]

Which shows the exception. About to some more debugging.

[2015-07-22 08:00] davidfowl commented on #272
If you don't pass --stdio does it work?

[2015-07-22 08:21] petr-k opened #273 "Rearranging code elements in the editor"
Support for moving code elements around (up/down, left/right) via shortcuts. A feature similar to what I have in mind exists in ReSharper, for example (see [Rearranging Code Elements](https://www.jetbrains.com/resharper/help/Coding_Assistance__Moving_Code_Elements.html)).

If there is interest in adopting this functionality (even partially), I'll take a stab at it.

[2015-07-22 08:39] brad-jones commented on #272
Yeah at first I thought that it had something to do with the stdio interface because I did get the normal HTTP interface to work fine. But then I found it was completely intermittent. Anyway see Pull Request for fix.

[2015-07-22 09:06] davidfowl commented on #273
This would be great!

[2015-07-22 10:27] nosami commented on #273
I love this feature in ReSharper.

[2015-07-22 10:36] petr-k commented on #273
I'm on it, then. I'll probably implement it as a VS extension first.

[2015-07-22 10:48] #272 closed

[2015-07-22 11:04] nosami commented on #226
Looks like this can be closed as #252 should fix

[2015-07-22 11:04] #226 closed

[2015-07-22 11:04] #195 closed

[2015-07-23 17:17] victorhurdugaci opened #275 "dnx, dnu and DTH will be renamed"
We are in the process of making a mega rename in DNX. The issue detailing the renames is here: https://github.com/aspnet/dnx/issues/1855

I wanted to start a discussion here because the names will impact OmniSharp and VSCode.

Ideally, the changes to OmniSharp should be backward compatible (support both the old and the new names) and the code supporting both names will go out before the renames. T

[2015-07-23 17:17] victorhurdugaci commented on #275
cc @sayedihashimi

[2015-07-23 17:18] victorhurdugaci commented on #275
Btw, I think I'll have a dnx build with the new names by the end of week

[2015-07-23 17:51] sayedihashimi commented on #275
Adding @chrisdias as well

[2015-07-23 23:12] nosami commented on #275
Hard to say for certain, but I think it will be a low impact for OmniSharp. It looks like we might just need to change the way that we [launch DTH](https://github.com/OmniSharp/omnisharp-roslyn/blob/6f4a6175132d2b6a370583658742fff280c7ce5f/src/OmniSharp/Dnx/DesignTimeHostManager.cs#L44) if we detect that the user's application is running on beta6.

We might have some small changes to make when Omn

[2015-07-23 23:46] nosami commented on #275
There will be a small change needed in VSCode needed to update to the latest omnisharp-roslyn. @jrieken knows about it.

[2015-07-24 11:03] davidfowl commented on #275
This will be a tiny change on the omnisharp side as @nosami already mentioned

[2015-07-26 15:43] sp3ctum commented on #273
:+1:

[2015-07-26 15:50] sp3ctum opened #276 "Text changes inserting extra characters for a "Declare local variable" request"
Here's my request in emacs (humor me and just imagine it as JSON):

[code]

Here's the server response:

[code]

After applying the text change, the buffer looks like this:

[code]

[2015-07-26 15:51] sp3ctum commented on #276
Looking at the data, the correct thing would be to replace columns `9-12` with simply `var`.

[2015-07-26 15:52] sp3ctum commented on #276
Oops, no. This is for the `Declare local variable` action, please disregard the last message.
`use 'var' keyword` works perfectly.

[2015-07-26 16:13] nosami commented on #276
This is probably because we're currently using a very alpha version of NRefactory6. We want to switch it over to [Refactoring Essentials](http://vsrefactoringessentials.com/) soon.

This is the refactorings portion of NRefactory extracted out into a new library and is a few months further on.

[2015-07-26 16:19] sp3ctum commented on #276
Thanks for letting me know. I'll just not use this for now.

[2015-07-26 16:30] nosami commented on #276
There's a blacklist here https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/v2/Refactoring/OmnisharpController.CodeActions.cs#L123

We also use most of the refactorings from VS. These all work fine.

[2015-07-30 21:03] puzzl3r opened #277 "Usage instruction needed + a few issues"
I'm not familiar with ASP.NET and in order to get this to work with omnisharp, a few steps (build, run) seems needed. Could you provide details about getting this to work?

The current script\Omniscript.cmd seems to use kre-clr and the "k" command, which seems should be replaced with dnx.

[2015-07-30 21:08] puzzl3r commented on #277
I've tried the following to build/run, none of them works:

nuget restore
dnu build
msbuild
dnx --appbase <....> run

[2015-07-30 21:34] puzzl3r commented on #277
Here's what happens when I ran dnu restore and build from Omnisharp.Stdio folder:

[code]

[2015-07-30 21:37] nosami commented on #277
Looks like you have an old version of the code for some reason https://github.com/OmniSharp/omnisharp-roslyn/blob/master/scripts/Omnisharp.cmd. k is replaced with dnx ... and beta3 was replaced with beta4

[2015-07-30 21:38] nosami commented on #277
To build the code, just run `build.cmd` if you're using Windows.

[2015-07-30 21:38] #277 closed

[2015-07-30 21:38] nosami commented on #277
p.s. You can get a pre-built version from [here](https://github.com/OmniSharp/omnisharp-roslyn/releases)

[2015-07-30 21:46] puzzl3r commented on #277
this repo was pulled down as a sudmodule of omnisharp-vim by Vundle automatically. You can see that form the command line log I posted. Is that because we need to update the submodule setting for omnisharp-vim?

[2015-07-30 21:47] nosami commented on #277
Yes. Although I don't believe that vim has been updated for the k/dnx
change. Nobody has been working on it for some time.

On Thu, Jul 30, 2015 at 10:46 PM, kfl <notifications@github.com> wrote:

[2015-07-30 21:49] nosami commented on #208
@RichiCoder1 I just saw your message on Jabbr. Nobody is looking at this yet - any help would be appreciated. Thanks!

[2015-07-30 22:23] kflu opened #278 "Should not scanning subdirectories for projects by default"
My company has a huge directory that contains hundreds of projects. I have a sln file at the root. With

    scripts\Omnisharp.cmd -p 2000 -s my.sln

It tries to scanning recursively for dnx projects which never finishes. This shouldn't be the default behavior.

[2015-07-30 23:41] puzzl3r opened #279 "autocompletion doesn't give me types in friend assembly when strong name signed"
I've proj1 that depends on proj2. both are strong name signed. In proj1 is a friend assembly of proj2, i.e., in proj2, there's a line [assembly: InternalsVisibleTo:("proj1, PublicKey=...")]

When editing a file in proj1, the autocomplete doesn't list types from proj2, while VisualStudio works fine. the legacy omni server seems to be working fine.

Here's a repo to reproduce the bug: https://github

[2015-07-31 00:18] puzzl3r commented on #279
Looks like the legacy server also has this issue only if the two projects are not in the same solution file, i.e., the dependency is a assembly reference rather than a project reference.

[2015-07-31 00:21] nosami commented on #279
The old server won't be fixed unless someone submits a PR.

For the new server, I have to assume that this is a bug in the Roslyn recommender API. The Roslyn team are working on sharing the same intellisense API that VS uses, maybe that will fix it.

[2015-07-31 00:37] RichiCoder1 commented on #208
:+1: I'll see what I can do.

[2015-07-31 00:51] nosami commented on #208
Thanks! I imagine that it would involve a lot of code shuffling.... so probably best to discuss any work that you are thinking of undertaking before you do it.

[2015-07-31 15:23] RichiCoder1 commented on #208
In addition to ScriptCs and Cake, are there any current or future parts of OmniSharp that we'd like to see pulled in or made extensible?

[2015-07-31 15:36] david-driscoll commented on #208
I've heard Razor would probably be best as a plugin as well.

On Fri, Jul 31, 2015 at 11:23 AM, Richard Simpson <notifications@github.com>
wrote:

[2015-07-31 15:48] RichiCoder1 commented on #208
That'd definitely be somewhere were we might look at VS for an example. Both ScriptCs and Cake are relatively simple since they mostly are implemented by preprocessing and organizing files, and then passing on to OmniSharp & Roslyn's existing C# scripting support. Razor would be much more complicated.

[2015-07-31 16:13] victorhurdugaci commented on #275
The DNX renames are done: https://github.com/aspnet/announcements/issues/51

[2015-07-31 22:16] nosami commented on #275
Fixed in v1.1.1 of omnisharp-roslyn... and released in v0.23.1 of omnisharp-atom

[2015-08-01 17:09] nosami commented on #208
I think we also need to be able to support out of process plugins. ScriptCs currently won't work on CoreCLR and we might want to move omnisharp-roslyn to soon.

[2015-08-03 08:08] nosami commented on #208
Possible f# support is another good reason to use (or at least allow) out of process plugins.

[2015-08-03 08:49] borgdylan commented on #208
Also remember that coreclr is not available on all cpus that it will be available on at RTM. So do leave mono as an option.

[2015-08-03 08:51] nosami commented on #208
95% certain that we will use coreclr for omnisharp-roslyn. If we go down the out of process plugin route, then plugins would be free to use desktop clr.

[2015-08-03 09:34] borgdylan commented on #208
But remember that omnisharp's core will have to run on the machine in the first place. CoreCLR for x86 is still on the drawing board. I would agree that once CoreCLR gets released to all CPUs and OSes mentioned by MSFT i.e (Windows, Linux, Mac) x (x86,x64,ARM) then CoreCLR would be the best CLR to run omnisharp's core.

[2015-08-06 07:50] solarsailer commented on #266
Same here (using Atom).

I was using Omnisharp-Sublime before, and one way to change the configuration was to edit a config.json file ([see here](https://github.com/OmniSharp/omnisharp-sublime#omnisharpserver-settings)).

Is there a way to change the config like this with Roslyn? A dotfile or a setting in Atom to target a custom configuration? It's not just for the indent, though. I want to select

[2015-08-06 13:30] per-samuelsson opened #283 "[DesignTimeHostManager] Failed to launch DesignTimeHost"
Sorry if this is not the right place to post.

I'm experiencing something similar to #272, and I've spent like a day trying to get what goes wrong. My symptom is that Intellisense completely has stopped working in VS Code. And my best guess is that it's because of an OmniSharp failure I get every time I load any type of DNX project (see details below).

* Environment: Win7, 64-bit.
* Latest VS Cod

[2015-08-06 18:58] borgdylan commented on #283
Also happens on 0.6.0

[2015-08-06 19:48] nosami commented on #283
This was fixed a few days ago in v1.1.1

[2015-08-06 19:50] borgdylan commented on #283
is omnisharp-roslyn still on beta4?

[2015-08-06 19:50] nosami commented on #283
Yes

[2015-08-06 19:53] nosami commented on #283
Closing because this is a @code issue. /cc @jrieken

[2015-08-06 19:53] #283 closed

[2015-08-06 19:55] nosami commented on #283
@per-samuelsson try this.

Download the latest omnisharp-roslyn release from [here](https://github.com/OmniSharp/omnisharp-roslyn/releases)

Set the OMNISHARP environment variable to c:\path-where-you-extracted-omnisharp\scripts\Omnisharp.cmd

[2015-08-06 19:56] nosami commented on #283
Or try atom instead. The fix is bundled with Atom already.

[2015-08-06 20:03] per-samuelsson commented on #283
This was one of the things I wondered too, but couldn't seem to find information about. And related: since VS Code and OmniSharp seems quite bundled (i.e. OmniSharp comes as part of the installation), is there some way to see what OmniSharp bits are installed in a particular VS Code version?

Regardless of the above comment: thanks @nosami! I'll give your suggestions a try, and now I at least know

[2015-08-06 21:02] per-samuelsson commented on #283
Downloaded latest bundle and set env variable as suggested in this https://github.com/OmniSharp/omnisharp-roslyn/issues/283#issuecomment-128486195, and still something funny going on with Intellisense, but it *did* make the OmniSharp server boot, so I'm definitely one step better. Thanks.

Notes to others if they try the same thing:

1)

The scripts folder is not there, OmniSharp.cmd in root (or I

[2015-08-12 01:52] david-driscoll commented on #273
:fireworks:

[2015-08-12 01:57] david-driscoll opened #285 "Unsafe blocks shows error eventhough csproj has enabled them"
I just wanted to try to add one feature for my C# project in omnisharp-atom and it shows errors in unsafe code eventhough my csproj has <AllowUnsafeBlocks>true</AllowUnsafeBlocks>

To repro just download https://github.com/Bobris/BTDB and open root directory in atom to see it.

Sorry if this should be reported to omnisharp-server project.

see https://github.com/OmniSharp/omnisharp-atom/issues/403

[2015-08-12 01:58] david-driscoll opened #286 "build command results in 404 from server"
I'm new to OmniSharp, so I don't know much yet about how to do a lot of troubleshooting.  After having failed to get a released version to work with DNX/project.json, I got the sources for the latest master (after the merge of the roslyn stuff) and tried that.  It kinda-sorta works, and I don't have all the red squigglies like before, but building doesn't work.  The following is produced in the Om

[2015-08-12 02:03] david-driscoll opened #287 "Don't show <global namespace> in type lookup"
see https://github.com/OmniSharp/omnisharp-atom/issues/275

[2015-08-12 02:05] david-driscoll opened #288 "Add projects collection to AutoCompleteResponse"
So we can show in editors if the method is available or not.

see https://github.com/OmniSharp/omnisharp-atom/issues/342

[2015-08-14 20:33] david-driscoll commented on #208
This is a proposal of what the plugin system might look like using MEF.   Before any work is started on this epic venture, I figure it might make sense to have a proper plan and direction.

Also my knowledge of MEF might be off, I've only ever played with the technology, so be nice! :+1:

## What kind of plugins are we looking for?
Examples:

* C#
* VB
* Cake
* ScriptCs
* Razor
* F#?

The services

[2015-08-14 20:41] paulyoung commented on #208
@7sharp9 – thought you might want to take a look at the above.

[2015-08-14 21:03] RichiCoder1 commented on #208
@david-driscoll Nice! Looks great. Some of the things you're talking about could probably use something like MEF's export metadata for plugins to provide hints to omnisharp the plugin needs something bit loaded and present.

[2015-08-14 23:11] 7sharp9 commented on #208
@paulyoung Thanks.

Interesting to see this moving now, I've never really been a big fan of MEF but if it works here then fine :-)

I was actually playing with a plugin setup for something similar using signalR the other week, not dynamic hubs but ones with strongly typed interfaces running with azure back plane.  It was especially interesting as clients can be standard web sockets etc and servers

[2015-08-26 11:42] nosami commented on #208
@7sharp9 I'm not a big fan of MEF either, but we are forced to use it already because of Roslyn and it will get the job done :)

@david-driscoll For out of process plugins, we should probably just stick to our existing stdio protocol to communicate between the core server and the plugin. I think we could have one core service that can talk to any of the OOP plugins.

For in process plugins, we cou

[2015-08-26 11:56] nosami commented on #208
We can probably make any of the inproc plugins work OOP.

[2015-08-27 14:34] RevenantX commented on #265
Confirm. Many projects (MSBuild) references System.dll (and similar System.Xml.Dll etc.) that has needed types (IDisposable and others). Strange issue...

[2015-09-02 11:37] rneatherway commented on #208
On the subject of the F# plugin, what kind of context is provided for the type checking? Currently we use the MSBuild API to determine the type checking context given a `.fsproj` file. Is that handled similarly for C#?

[2015-09-02 14:33] david-driscoll commented on #208
The intent will be based on whatever the plugin needs / requires.

If it's in process, and you don't have access to the proper API, you can
bring in your own code.  In process assemblies will just be Assembly Loaded.

Out of process, you have a bigger advantage, you can basically build
whatever you want.  Then the OmniSharp server would essentially act as a
proxy for your plugin, piping informatio

[2015-09-03 08:49] jrieken opened #294 "Failed to launch DTH on coreclr-beta7"
* install beta7-coreclr and set as default
* start omnisharp
* :bomb:

[code]

[2015-09-03 08:51] jrieken commented on #294
According to @davidfowl  we need to make sure don't start the coreclr version on non-windows platform cause DTH misses sockets on Mac/Linux

[2015-09-03 20:17] DustinCampbell commented on #208
I'm glad to see this underway as well. Being able to tailor OmniSharp's set of plug-ins will be a huge win.

[2015-09-03 20:39] DustinCampbell commented on #208
Would love to chat further about this and figure out what needs to happen here. I can help out. Grab me on Jabbr.

[2015-09-03 23:15] david-driscoll commented on #208
@DustinCampbell I've got a Proof of concept PR @ #293

I'll be kicking around on jabber tonight, or ping me on twitter @david_blacklite if I'm not answering.

[2015-09-07 19:10] #275 closed

[2015-09-08 18:54] jasoncavett commented on #294
Although this bug is for coreclr, I am also noticing a similar/related? issue using dnx-mono beta7.

[code]

[2015-09-09 09:35] edotassi commented on #294
+1

[2015-09-13 12:21] mat-mcloughlin opened #296 "Throws an exception when requesting code actions when cursor is at the end of the line"
This might be an atom problem sending through the wrong cursor position but I don't think so.

When you request code actions for a given token but the cursor is at the end of the line it throws the following exception

[code]

[2015-09-13 12:26] david-driscoll commented on #296
looks like it might be a server issue, or a specific codefix/analyzer that is failing because we're not giving a span (just a location)

[2015-09-13 12:48] mat-mcloughlin commented on #296
the server should be able to cope with that though :S I'll look into it

[2015-09-13 13:29] david-driscoll commented on #296
We are calling things through reflection into the features assembly for code fixes... so who knows.

[2015-09-14 09:06] Mpdreamz opened #297 "We need to get some documentation on dotnet's readthedocs"
https://dotnet.readthedocs.org/en/latest/development/index.html

Could use some content from us on how to get started using omnisharp and editors.

[2015-09-14 22:32] marshall007 commented on #265
Anyone have a workaround yet?

[2015-09-15 07:10] willl commented on #265
I've had a small poke around (Google) and found these that may potentially resolve this issue (Or at least the "Assuming assembly reference 'mscorlib, Version=2.0.0.0 ... matches identity 'mscorlib, Version4.0.0.0 ..." issue anyway):

* "Once, we had a similar problem with Roslyn (mscorlib 2.0.0.0 vs. 4.0.0.0 references). We solved this by using CSharpCompilationOptions.WithAssemblyIdentityCompare

[2015-09-15 11:51] RevenantX commented on #265
Thanks. This works. I will create pull request soon.

[2015-09-15 13:19] nosami commented on #265
Fixed in v1.4.1. Thanks @RevenantX !

[2015-09-15 13:19] #265 closed

[2015-09-15 13:22] nosami commented on #265
....and @willl for finding the fix :)

[2015-09-15 14:41] jrieken commented on #294
@jasoncavett - That looks like VSCode. What exact version are you running?

[2015-09-15 16:37] jtbennett commented on #294
FYI, this issue disappeared for me with VS Code v0.8 that was released in the last couple of days.  Intellisense and debugging now work fine for aspnet beta7.  (I'm using OS X.)

[2015-09-15 20:10] willl commented on #265
:+1: awesome :)

[2015-09-16 14:09] jasoncavett commented on #294
@jrieken @jtbennett You're both correct. I was running 0.7.0 of VSCode. With the update to 0.8, everything began working properly again. Thanks for the responses...I appreciate it.

[2015-09-17 14:02] mat-mcloughlin opened #300 "Some themes don't contain @ui-lightness variable"
There is a problem with two of the default Atom themes. They don't contain `@ui-lightness`. So omnisharp crashes out when it looks for it

[2015-09-17 14:10] david-driscoll commented on #300
try v0.24.10

On Thu, Sep 17, 2015 at 10:02 AM, Mathew McLoughlin <
notifications@github.com> wrote:

[2015-09-17 14:12] nosami commented on #300
Also... wrong repo :)

[2015-09-17 14:15] david-driscoll commented on #300
ahaha I didn't even notice, I just ripped out the css.

On Thu, Sep 17, 2015 at 10:12 AM, Jason Imison <notifications@github.com>
wrote:

[2015-09-17 14:18] mat-mcloughlin commented on #300
@nosami oops

[2015-09-17 15:02] #300 closed

[2015-09-17 16:04] FabioCZ opened #301 "Support for IgnoredCodeIssues in config"
Hey everyone,
I am trying to use a omnisharp.json config file with my project in VS Code (v0.8.0 atm). I'd like to be able to use `IgnoredCodeIssues` in my config.

My omnisharp.json looks like this:

[code]

However, Omnisharp fails to start and throws the following:

[code]

It'd be cool if this config option was supported

thanks

[2015-09-17 16:10] david-driscoll commented on #301
I think this is probably related to the fact that we're tied to to beta4
arm, and IConfiguration has had that feature added somewhat recently, this
is something that I think we can support in the future.
On Thu, Sep 17, 2015 at 12:04 PM Fabio Göttlicher <notifications@github.com>
wrote:

--
Thanks,
David

[2015-09-17 16:14] nosami commented on #301
This particular issue is probably fixed in the latest omnisharp-roslyn too. Not the configuration aspect, but the way that assemblies are compared.

[2015-09-17 16:30] nosami commented on #301
@FabioCZ Can you try omnisharp-atom out and see if the problem is there too? The latest omnisharp-roslyn fix is in atom as of yesterday?

[2015-09-17 16:53] FabioCZ commented on #301
Tried latest omnisharp with Atom, and the "Assuming assembly reference..." problem seems to be gone. Thanks

[2015-09-17 23:26] Figbash commented on #266
Pretty sure this is the same issue with hard tabs.  If you turn off soft tabs in atom prefs and work on a file with hard tabs, omnisharp will replace the tabs with spaces whenever you add the ; at the end of a line.  There is an option in config.json called "useTabs" but changing it does nothing.

[2015-09-19 12:58] willl commented on #297
@Mpdreamz What sort of topics did you have in mind?

Before anyone starts writing anything, perhaps we should have a discussion on what sorts of things need to be covered?

That section is titled `Developing using .NET Core` (currently with sections for:  VS 2015/VS Code/vim/Sublime and I'm sure we can add in Atom to that), I assume if we were to be contributing anything it would be for the four (

[2015-09-22 22:47] david-driscoll commented on #134
We have the three new endpoints now `/packagesearch`, `/packageversion`, `/packagesource`.  Atom uses a fallback repo https://github.com/OmniSharp/omnisharp-nuget/tree/resources .

Should we have `packagesearch` use similar behavior to atom (using the fallback) or should that detail be left to each editor to decide?

If we can leave it alone, then we should be able to close this, otherwise we shou

[2015-09-22 22:53] david-driscoll commented on #5
@nosami this looks like we have it now with https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/v1/Navigation/OmnisharpController.FindImplementations.cs ?

I'm off base, please reopen.

[2015-09-22 22:53] #5 closed

[2015-09-22 22:53] david-driscoll commented on #16
Stop server landed with #302

[2015-09-22 22:53] #16 closed

[2015-09-22 22:54] david-driscoll commented on #6
We have some both code actions v1 and v2 api's at this point, so I'm going to close this for now.  Unless someone feels like we need to reopen it.

[2015-09-22 22:54] #6 closed

[2015-09-22 22:55] david-driscoll commented on #9
https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/v1/TestCommands/TestCommandController.cs

[2015-09-22 22:55] #9 closed

[2015-09-22 22:57] david-driscoll commented on #12
@nosami do we still need this?  Should we add `Namespace` and `ClassName` to `SymbolLocation`?

[2015-09-22 23:59] david-driscoll commented on #178
`/highlight` give us this information now, and can be enabled for editors that support it.

[2015-09-22 23:59] #178 closed

[2015-09-25 12:20] jrieken commented on #294
Thanks for the answers. Closing.

[2015-09-25 12:20] #294 closed

[2015-09-26 18:39] nosami opened #303 "Should support 'unsafe' code"
<img width="988" alt="screen shot 2015-09-26 at 19 38 20" src="https://cloud.githubusercontent.com/assets/667194/10119155/3b36e2b6-6486-11e5-86bc-c30563cd49f4.png">

`<AllowUnsafeBlocks>true</AllowUnsafeBlocks>` should be passed into the compilation options.

[2015-10-03 10:03] frapontillo commented on #294
This is still failing for me w/ Visual Studio Code 0.8.0:
[code]

As shown in the log, I am using `dnx-coreclr-darwin-x64.1.0.0-beta7` on Mac OS X 10.11.

[2015-10-05 07:35] jrieken commented on #294
@frapontillo Still the same issue that coreclr on mac doesn't support sockets, hence no way to talk to it from OmniSharp

[2015-10-05 07:36] davidfowl commented on #294
https://github.com/OmniSharp/omnisharp-roslyn/pull/308

[2015-10-05 20:05] #303 closed

[2015-10-05 20:41] filipw commented on #285
Fixed in https://github.com/OmniSharp/omnisharp-roslyn/pull/309

[2015-10-05 20:42] #287 closed

[2015-10-05 22:15] #266 closed

[2015-10-06 12:30] nosami commented on #12
Yeah... we should do this at some point.

[2015-10-06 12:31] nosami commented on #27
No longer needed as vim now sends request via a json payload.

[2015-10-06 12:31] #27 closed

[2015-10-07 09:53] davidfowl opened #313 "Flow diagnostics back from DTH to the editor"
Today DTH has a rich set of diagnostics but they don't flow back the to the editor and we don't have a push based generalized way to push diagnostics. We might need to piggy back on codecheck though that's a v1 endpoint.

[2015-10-08 08:02] jrieken opened #314 "exceptions with csproj-files"
This is a regression from allowing unsafe. Happens when you don't have that defined in the csproj file.

[code]

[2015-10-08 08:03] nosami commented on #314
/cc @filipw :)

[2015-10-08 08:30] #285 closed

[2015-10-08 09:10] #314 closed

[2015-10-08 09:22] filipw commented on #314
:scream:

[2015-10-09 14:00] david-driscoll commented on #313
Probably related to #229 to a degree.

[2015-10-09 14:21] david-driscoll commented on #229
cc @nosami @jrieken @davidfowl
Thoughts on this issue?

After we do a buffer update, we trigger an event of some sort, that will then look at the file for any diagnostics it may have had, then forward that down the pipe as a set of responses.  In this new model we would send a `QuickFix` for each diagnostic.

This behavior would be off by default.  We would have a new endpoint `/v2/codecheck` that

[2015-10-13 13:18] jrieken commented on #229
I think of this as a flag you set when starting OmniSharp (or as a configuration option). Having the flag set, will add a listener to the `workspace` and `project systems` and do the right things ;-)

I would handle them different because we can handle workspace/projects files well and know how to generate diagnostics for them. Unsure about the project systems. @davidfowl How does DTH send diagnos

[2015-10-14 09:49] shadowmint commented on #266
Hm... you've closed this issue, but how do you actually *set* these settings? They're not exposed in the omnisharp settings.

Do you literally just edit the config.json deeeeeeeeeep within the OmniSharp package and redo it everytime you install an update?

[2015-10-14 11:23] david-driscoll commented on #266
I'll see if I can work on the ui fairly soon. I think that there is a
config file you can have in your solution directory that will have the same
behavior as config.json
On Wed, Oct 14, 2015 at 5:49 AM Doug <notifications@github.com> wrote:

--
Thanks,
David

[2015-10-23 13:47] david-driscoll commented on #297
cc @willl @Mpdreamz has anyone had any time for this yet?  Anyone able to make some time?  I might be able to in a week or two, but that's not a guarantee.

[2015-11-04 12:15] davidfowl opened #324 "Errors with new plugins model"
Looks like wired getting cross somewhere.

[code]

[2015-11-04 12:17] davidfowl opened #325 "Building omnisharp should not change the default dnx"

[2015-11-04 15:01] nosami commented on #324
Another one reported by @ianbattersby

https://gist.github.com/ianbattersby/c0442be81262d733f709

[2015-11-04 16:42] ianbattersby commented on #324
FYI; This was because (it seems to me) the new plug-in model decides the language type based on the FileName, and if you don't pass the filename (even with incremental changes), then it's logic does a HandleAll instead of HandleSingle, which then required the response mode to implement IAggregateSource (or whatever). Once I made emacs returns the filename alongside the incremental changes my probl

[2015-11-04 18:37] ianbattersby commented on #324
This could be something stupid I've done, but I'll throw it in there mix in case anyone else is seeing it? I've only noticed it since I turned on verbose on the server.

[code]

[2015-11-05 12:15] ianbattersby opened #326 "Errors on verbose logging since plug-in model"
Anyone else seeing this when turning on verbose logging? I've only noticed it since the plug-in changes were brought in.

[code]

[2015-11-05 12:16] ianbattersby commented on #324
I've raised the later error as a separate issue, as I'm not sure it's related to the language-conditional thing I was on about earlier. https://github.com/OmniSharp/omnisharp-roslyn/issues/326

[2015-11-05 20:12] ianbattersby opened #327 "Missing tests?"
OMG, am I being stupid or have a large chunk of tests disappeared in master since the plug-in merge? In example a search for "[Fact]" goes from 183 to 27 lines?! I really want to help and contribute here but if master branch is descending into chaos then I don't see how.

[2015-11-05 20:22] #327 closed

[2015-11-05 20:24] ianbattersby commented on #327
[code]

[2015-11-05 20:30] david-driscoll commented on #327
A lot of the tests have moved, and since I don't generally use VS xproj files aren't automatically created for the new projects.  You can add them no problem, and I removed them (or removed them from the solution) recently it wasn't on purpose. :smile:

[2015-11-05 20:31] david-driscoll commented on #326
Had not noticed that, will look into it.

[2015-11-05 20:36] ianbattersby commented on #327
Understood. I don't normally use Windows either, but when I do it's confusing when they don't appear! I think moving stuff around is cool, but making sure after a reorganization that everything is building and visible in VS welcomed by us unfortunate folk.

[2015-11-05 20:42] david-driscoll commented on #327
Fair enough!

[2015-11-05 20:47] ianbattersby commented on #326
Thx, I'd rather be developing against the latest version so fixing this would be cool.

[2015-11-05 22:31] ianbattersby opened #328 "What happened to UpdateBufferFilter (IActionFilter)?"
I'm just looking into why my incremental changes aren't working and I notice the `IActionFiler` that handled these on all requests (`UpdateBufferFilter`) - and not just `/updatebuffer - seems to have gone? Or has it been moved and I'm failing to find it? Any thoughts much appreciated.

[2015-11-05 22:48] nosami commented on #328
See if this code is being hit https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Roslyn/BufferManager.cs#L59-L67

[2015-11-05 22:53] willl commented on #328
It got shuffled/removed. https://github.com/OmniSharp/omnisharp-roslyn/commit/354bee47e488b55bb8aaf76714166be79d3ee407

[2015-11-05 22:53] david-driscoll commented on #328
If buffer or changes is set on a request, they should pass through
automatically to /update buffer
On Thu, Nov 5, 2015 at 5:48 PM Jason Imison <notifications@github.com>
wrote:

--
Thanks,
David

[2015-11-05 23:08] ianbattersby commented on #328
I'll have a look again tomorrow as when first moved to middleware it got invoked [here](https://github.com/OmniSharp/omnisharp-roslyn/commit/354bee47e488b55bb8aaf76714166be79d3ee407#diff-5cc7e564a536aefe4d44f812d0374bc3R126) but has obviously moved again.

[2015-11-06 14:06] david-driscoll commented on #324
@davidfowl is this happening in a certain file / project / something?

It's working for me in vscode just fine.

![image](https://cloud.githubusercontent.com/assets/1269157/10998743/7737d37a-8465-11e5-8a3d-61bc2b19cae0.png)

[2015-11-06 14:23] david-driscoll commented on #326
Try out https://github.com/OmniSharp/omnisharp-roslyn/pull/330 and let me know if that solves it.

[2015-11-06 14:48] ianbattersby commented on #326
Yes it does seem better, which makes me think it's a mono issue (no surprise there then).

[2015-11-06 17:31] ianbattersby opened #331 "Verbose logging contains &#65279;"
For some reason the verbose JSON being pushed out by the server contains an `&#65279;` character after the `Body:` tag but before the array. This upsets the json decoding in emacs ;(

[code]

[2015-11-06 17:51] ianbattersby commented on #331
Actually, and now seemingly obviously, this shouldn't be limited to verbose messages but anything with an array?!

[2015-11-06 18:11] ianbattersby commented on #328
For the moment I've re-added the call in EndpointHandler as seen [here](https://github.com/OmniSharp/omnisharp-roslyn/commit/354bee47e488b55bb8aaf76714166be79d3ee407#diff-5cc7e564a536aefe4d44f812d0374bc3R126)

[2015-11-06 19:49] david-driscoll commented on #328
It should be run by this code now https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Middleware/Endpoint/EndpointHandler.cs#L107-L115 .  Which will let buffer updates be handed off to other languages other than C#.

If it's not running, let me know the scenario and lets fix it.

[2015-11-06 21:57] ianbattersby opened #332 "Project not loading / Path resolution on mono?"
So I'm still digging into the latest master branch changes as wondering why I'm getting nothing back in the response, wondering if the path resolution for unix paths is off (thinking about the FileName property), when I notice the `ProjectAdded` and `ProjectChanged` lines are missing;

On Windows;
[code]

On Mono;
[code]

Obviously this may be related to mono (4.2.0), beta4 Roslyn/CodeAnalysis , o

[2015-11-06 22:24] nosami commented on #332
on El Capitan? mono is no longer on the PATH

[2015-11-06 22:25] ianbattersby commented on #332
No, Yosemite.

[2015-11-06 22:26] nosami commented on #332
Well... the events that are missing come from DTH, so either you don't have beta4 installed or it failed to launch. Works here.

[2015-11-06 22:37] nosami commented on #332
[code]

[2015-11-06 23:23] ianbattersby commented on #332
Erm, no cigar..

[code]

[2015-11-06 23:30] #332 closed

[2015-11-06 23:35] #328 closed

[2015-11-06 23:35] #326 closed

[2015-11-07 16:51] ianbattersby commented on #332
FYI (update): So the issues here were;

* The MinimalSolution inherited from the `omnisharp-emacs` project didn't have `OmniSharp.json` and appropriate `project.json` and as such DTH didn't spin up, I failed to spot this, so this was a good shout from @nosami. *(Note: Worth noting the solution didn't work in Atom either)*

However..

* As suspected I was experiencing some path resolution issues du

[2015-11-07 17:40] ianbattersby commented on #326
This definitely seems to fix my issues btw @david-driscoll.

[2015-11-09 20:51] david-driscoll commented on #331
@ianbattersby any ideas what was/is going on?

[2015-11-09 21:29] #325 closed

[2015-11-09 21:29] david-driscoll commented on #325
@davidfowl let me know if it's still breaking for you.

[2015-11-10 10:56] ianbattersby commented on #331
Not yet, it's still on my radar but thought I'd leave it here in case anyone else sees it. I'm going to check to see if it happens on Windows and take it from there.

[2015-11-10 21:03] natemcmaster opened #336 "DnxPaths does not load CoreCLR runtime"
`DnxPaths.GetRuntimePathsFromVersionOrAlias` always looks for a mono version of the runtime, which will fail when users only have a coreclr version.

ASP.NET support for CoreCLR has improved enough lately that I often do not use dnx-mono at all for my dev projects. Is it possible to make omnisharp-roslyn work without mono?

[2015-11-10 21:15] david-driscoll commented on #336
It is planned, I know @davidfowl is looking into it, as well as @troydai is making progress as well (see https://github.com/troydai/omnisharp-roslyn/tree/trdai/rc2)

Our current focus is trying to get off of beta4 (lol) and then also CoreClr support, while maintaining the code refactorings and other pieces that are currently only available on the desktop clr.

[2015-11-10 21:17] natemcmaster commented on #336
@david-driscoll Ok. I couldn't find any issues already opened to track the work of adding more CoreCLR support. Feel free to close if this is issue is a duplicate.

[2015-11-10 21:21] david-driscoll commented on #336
I leave it for now, because I don't think we have an issue tracking it either. :smile:

[2015-11-16 08:13] polyzois opened #337 "Omnisharp complaining about missing dependencies"
Hi!
This might not be an issue but I don't know where to direct a question like this.
I have tested this with both VS Code and Atom with the OmniSharp plugin. I have created a web api project using Yeoman and the aspnet generator.
So to my problem Omnisharp thinks that my added dependencies don't exist or cant be resolved. Both the IDE:s tested can complete statements and it all runs fine using "d

[2015-11-16 12:20] david-driscoll commented on #337
Sounds like the StackExchange.Redis and FluentNHibernate dlls are not
compatible with the coreclr version of dnx.   The app runs because they do
work properly with mono, but the editor is telling you it doesn't know how
to handle those if you try to run the application on the coreclr instead of
mono.

Thanks,
David Driscoll
Microsoft MVP - OmniSharp Team

On Mon, Nov 16, 2015 at 3:13 AM, Konstanti

[2015-11-16 15:48] polyzois commented on #337
Ok I see. Can I control this behaviour?  Make Omnisharp parse/run the same way/version as dnx and VS Code does?

[2015-11-16 16:11] david-driscoll commented on #337
It's the dependencies you have defined, if they don't support coreclr those
errors will show up.

To fix it you can remove the unsupported framework from your project.json,
and they will go away.

If VSCode isn't showing the errors, I would like to see if you're project
source is available, because VSCode should have the exact same errors.

Thanks,
David Driscoll
Microsoft MVP - OmniSharp Team

On

[2015-11-16 17:08] polyzois commented on #337
Ok thanks! I will investigate project.json and try and get to grips with the brave new world!

[2015-11-16 17:08] #337 closed

[2015-11-18 12:18] ianbattersby opened #338 "DTH logging messages not handled"
I'm noticing what I think are messing from the DTH coming through into the console output but can't immediately see how to control/filter them as per other messages. Any thoughts/guidance?

For examples;
`Client accepted 127.0.0.1:53398`

Sample output;
[code]

[2015-11-18 13:29] jrieken commented on #338
The JSON data is always printed as a single line, so it will be save to check for the first character being `{`

[2015-11-18 13:45] ianbattersby commented on #338
Hi @jrieken. Yes I'm quite aware of that, an ironically some buffering I have in place catch this so I don't get errors in my implementation, however it's something that surely should be happening no? It should come through as a log message.

[2015-11-18 13:51] jrieken commented on #338
yeah, I guess when launching the DTH process we shouldn't tell it to re-use in/out put wire that up logger of some sort

[2015-11-18 14:14] ianbattersby commented on #338
OK, I'll try and figure it out if its seemingly possible.

[2015-11-18 14:34] ianbattersby commented on #338
Maybe not: https://github.com/aspnet/dnx/blob/1bb5a1d24fcd7d21d2278528c243e2b9f181c43d/src/Microsoft.Dnx.DesignTimeHost/Program.cs#L79

In an ideal world they'd have provided an abstraction on top of this, or just use ILogger. // cc @davidfowl

[2015-11-18 14:34] #338 closed

[2015-11-18 15:03] jrieken commented on #338
I think we can control that here: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Dnx/DesignTimeHostManager.cs#L69

[2015-11-18 20:13] ianbattersby commented on #338
Good point.

[2015-11-18 22:25] nosami opened #340 "omnisharp-roslyn is broken with stock emacs plugin"
See here https://www.reddit.com/r/emacs/comments/3tccva/help_omnisharproslyn_doesnt_seem_to_work_with/ for context. Looks like #330 broke it.

[2015-11-18 22:39] nosami commented on #340
Probably broken with all HTTP editors.

[2015-11-21 09:47] hach-que opened #341 "Support Protobuild modules"
I'm planning on submitting a PR for this.

[Protobuild](http://protobuild.org/) is a cross-platform project generator for .NET.  It generates the appropriate C# project and solution files for any platform, from any platform.  It is used by projects like [MonoGame](http://monogame.net/), where it's not practical to perform platform checks at runtime for either performance or complexity reasons.

I

[2015-11-23 22:56] #340 closed

[2015-11-26 13:00] jrieken opened #345 "No intellisense on Linux for ASP .NET 5 coreclr x64 1.0.0.-rc1-final"
_From @Injac on November 19, 2015 14:34_

Today I installed VSCode and tried this tutorial:

[ASP.NET 5 Applications with VS Code](https://code.visualstudio.com/Docs/runtimes/ASPnet5)

I opened Startup.cs and tried the System.Console.WriteLine sample. Intellisense did not show up. Only namespaces are shown after hitting CTRL+SPACE. It does not even recognize the built-in types like string, int, et

[2015-11-26 13:00] jrieken commented on #345
_From @BeelzeBu on November 24, 2015 20:20_

Do you have installed the mono runtime?, at least on OSX is the way to do it. core clr as my defualt, mono runtime for vscode

[2015-11-26 13:00] jrieken commented on #345
_From @Injac on November 24, 2015 21:13_

No, I did not install the mono runtime, pure coreclr, according to the tutorial.

[2015-11-26 13:00] jrieken commented on #345
_From @BeelzeBu on November 24, 2015 21:17_

please post the log of the omnisharp server

[2015-11-26 13:00] jrieken commented on #345
_From @Injac on November 25, 2015 9:32_

Where can I find this file? Is that something that is generated by VS Code?

[2015-11-26 13:00] jrieken commented on #345
_From @BeelzeBu on November 26, 2015 11:36_

While on vscode on view you need to click on show output and then select omnisharp server

[2015-11-26 13:00] jrieken commented on #345
_From @Injac on November 26, 2015 12:14_

Ok. Got it :)

Here is the log you need:

[code]
It looks like the mono-runtime is required for omni-sharp.

[2015-11-26 13:00] jrieken commented on #345
_From @BeelzeBu on November 26, 2015 12:23_

which version of mono do you have?, not the runtime, mono compiler

[2015-11-26 13:00] jrieken commented on #345
_From @Injac on November 26, 2015 12:28_

I installed the latest mono 4.2.1 from the xamarin-servers.

[2015-11-26 13:00] jrieken commented on #345
_From @Injac on November 26, 2015 12:46_

It works (Intellisense) after installing the mono-runtime using dnvm. This should be mentioned within the Linux documentation.  But there are additional errors now in the omnisharp-log:

[code]

[2015-11-26 15:10] jrieken opened #346 "intelisense problem"
_From @MasoodRezazadeh on November 26, 2015 12:53_

there is no code suggestions for OVERRIDE ... last night it tooks till 6 AM for me to figure out that in DbContext i should  override OnConfiguring with DbContextOptionsBuilder parameter not DbContextOptions ...

_Copied from original issue: Microsoft/vscode#709_

[2015-11-26 15:10] jrieken commented on #346
Please provide details steps include a code sample so that we can understand and reproduce

[2015-11-26 15:10] jrieken commented on #346
_From @MasoodRezazadeh on November 26, 2015 13:12_

[code]

using EntityFramework 7 i created this context , for adding db connection query string ```OnConfiguring``` method should be overriden and in vscode intelisense not seggesting that or ```OnModelCreating```

[2015-11-26 15:10] jrieken commented on #346
@MasoodRezazadeh Do I understand correctly that this is a feature request for IntelliSense helping you to implement a method?  Like so

[code]

[2015-11-26 15:10] jrieken commented on #346
_From @MasoodRezazadeh on November 26, 2015 14:49_

@jrieken Yes i Thought this feature should be available for newbies like me

[2015-11-26 15:10] jrieken commented on #346
ok. understood. moving to OmniSharp cos they drive the C# features

[2015-11-26 15:15] david-driscoll commented on #346
It's possible it can be added, but we're waiting on the new service via #78, which would also solve the same problem.

[2015-11-26 20:51] peterblazejewicz opened #347 "Let's investigate 'The specified runtime path 'default' does not exist' errors on OS X with VSCode"
hi,

Can we investigate `The specified runtime path 'default' does not exist` error reported under VSCode project:
https://github.com/Microsoft/vscode/issues/126
The errors starts here:
https://github.com/OmniSharp/omnisharp-roslyn/blob/d3d8fa360cd70c7806ae52e0f318f5e76791abd0/src/OmniSharp.Dnx/DnxPaths.cs#L78

At the moment there is a situation looks like that everyone blames OmniSharp,while the

[2015-11-26 23:17] phillijw commented on #347
I commented on the referenced ticket: https://github.com/Microsoft/vscode/issues/126#issuecomment-160003641

[2015-11-26 23:39] phillijw commented on #347
Some other informations:
* It looks at the `~/.k` and the `~/.kre` folders. These are leftover from previous installations and I just deleted mine
* The main issue is that the `~/.dnx/runtimes` folder is empty. As a temp workaround I think it makes sense to symlink this folder to the `/usr/local/lib/dnx/runtimes` folder
* We need to figure out where the runtimes are _supposed_ to live because at t

[2015-11-27 00:13] willl commented on #347
Thanks for investigating @phillijw on jabbr.

From my observation based on your comment and others' in issue, for some reason `Environment.GetEnvironmentVariable("DNX_HOME")` is returning _null_. Despite when doing `echo $DNX_HOME`, you're getting `/Users/username/.dnx:/usr/local/lib/dnx`.

The same is happening on my local.

Another thought, when I do a `printenv`, DNX_HOME is not listed. Thought

[2015-11-27 01:31] fishg opened #349 "Is there a plan to upgrade to dnx 1.0.0-rc1?"
Is have plan to upgrade to dnx 1.0.0-rc1? Or just wait for 1.0.0 major release?

[2015-11-27 01:51] willl commented on #349
@fishg Not rc1 but @troydai has an rc2 branch that he's been working on here: https://github.com/troydai/omnisharp-roslyn/tree/trdai/rc2

[2015-11-27 16:18] bitbonk commented on #197
That seems like a pretty good idea, now that we have compiler as a service and OmniSharp, it's time for debugger as a service and OmniDebug.

[2015-11-27 17:30] niemyjski commented on #345
+1

[2015-11-27 19:44] Injac commented on #345
+1

[2015-11-27 20:28] peterblazejewicz commented on #347
Hi guys,
Thanks!
I've managed to get it working with local installation:
https://github.com/Microsoft/vscode/issues/126#issuecomment-160200335

Can this somehow be solved? Is that `DNVM` issue or OmniSharp? The global installation is default by MS provided installer.

[2015-11-28 21:16] david-driscoll commented on #347
My guess is that we need to add additional paths to search, does anyone have a full list of the possible ones?

This would apply across all os's, right now I see, is it the same for mac and linux?  I'm running the installer on windows to see what the location is.

Is there any source that we can reference for how the packages are created / pushed so we can figure out what the standard locations sh

[2015-11-28 21:33] david-driscoll commented on #347
Here's my first stab at fixing the issue, see #354.

[2015-12-01 08:59] jrieken opened #355 "do not get intellisense for constructors (or overloads) in referenced dll"
_From @mjkkirschner on November 27, 2015 17:33_

using Version 0.10.2 (0.10.2) on mac os x 10.11- I'm using one of the unity3d integration plugins (on the unity side) and getting autocomplete/intellisense, but not on the unity engine .dll or other referenced dlls in my projects, when using constructors. I expect to see parameter info for the constructor.

If I hold control over the type I get the

[2015-12-01 08:59] jrieken commented on #355
_From @aliozgur on November 28, 2015 16:18_

Same here Code 0.10.2 and osx 10.11.1 (El Capitan)

[2015-12-01 22:07] dgalizzi opened #356 "NotSupportedException on Emacs: [Microsoft.AspNet.Diagnostics.ErrorHandlerMiddleware] An unhandled exception has occurred: Must be able aggregate the response to spread them out across all plugins for /updatebuffer"
First: It's working on omnisharp-server but not with omnisharp-roslyn. I'm manually running the server. The function for checkalivestatus works but others don't (I tried autocomplete and /typelookup).

I tried debugging it, a few things I found:
* The exception thrown is at middleware.endpoint.endpointhandler.cs:170
* Same file on line 129 is returning null (model.FileName is fine):

* Tried forci

[2015-12-01 22:12] david-driscoll commented on #356
cc @ianbattersby Have any idea about this issue?  I know you've been working on emacs a little bit lately.

[2015-12-01 22:20] ianbattersby commented on #356
I suspect this might relate to the issue see before with the newer Roslyn branch that when emacs doesn't send the file name the server logic differs because it can't establish the language from the file extension.

I'll try and dig that out for reference. I'm likely not seeing this myself because my in-development version sends the file name with every request.

I'll try and get some time tomorrow

[2015-12-01 22:23] ianbattersby commented on #356
https://github.com/OmniSharp/omnisharp-roslyn/issues/324#issuecomment-153787076

[2015-12-01 22:42] david-driscoll commented on #356
What request is trying to make where it's not setting a filename?

To resolve this one, I'm not against defaulting the language to C#, instead of throwing an exception, I just want to make sure it'll work.

[2015-12-01 22:58] dgalizzi commented on #356
It is setting the filename but not the language. I tried defaulting to C# but then I got another error (/updatebuffer not supported for C#), exports is empty at: https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Middleware/Endpoint/EndpointHandler.cs#L156 so it can't get the handler for the language.

[2015-12-01 23:08] david-driscoll commented on #356
I'm thinking something like #357, just assume C# if we can't determine it by default.

[2015-12-01 23:10] david-driscoll commented on #356
Now I have no idea if #357 works, but feel free to test it out, and let me know if it helps with your issue.

[2015-12-02 06:34] ianbattersby commented on #356
@dgalizzi Can you confirm the SHAs of your Roslyn and emacs branches and I'll have a play this end too. If defaulting language or pushing file and still isn't working then I'm a bit lost. My current wip version does incremental changes but it still uses /updatebuffer so haven't seen that error before.

[2015-12-02 07:07] GuidC0DE opened #359 "OmniSharp failed to parse C# code with right syntax"
Environment: OS X, Unity3D, VS Code

I found an issue that OmniSharp can't parse following code:
[code]
This code is in Particle Playground asset for Unity3D https://www.assetstore.unity3d.com/en/#!/content/13325
I use version 2.24
The problem is in file PlaygroundParticlesC.cs, method UpdateShuriken()

OmniSharp produces following errors:
[code]

When I changed this code to
[code]
OmniSharp parse

[2015-12-02 15:53] kscott5 commented on #349
I was going to branch this code and upgrade to 1.0.0-rc1 myself. Reviewing the project.json files it appears you have already upgrade to rc1 dependencies. However, @fishg, reviewing the global.json sdk section, you are targeting coreclr (not clr).

Why specify coreclr when the main branch does not?

Hence my concern.

What are the pros/cons to your approach vs what main branch is doing?

[2015-12-02 17:52] troydai commented on #349
@kscott5 I didn't notice any other branch specify `coreclr` in `global.json` other than __my__ branch? Did you mean this branch https://github.com/troydai/omnisharp-roslyn/blob/trdai/rc2/global.json?

Well. Please ignore this one, my experiment on that branch is over. The real deal is here: https://github.com/troydai/omnisharp-roslyn/tree/trdai/cli

I'm integrating omnisharp-roslyn with the latest

[2015-12-02 18:45] dgalizzi commented on #356
This issue got fixed by #358 even without sending the language or defaulting it.

[2015-12-02 19:49] david-driscoll commented on #356
good to hear, sorry about causing the issue!

[2015-12-02 20:19] ianbattersby commented on #356
Nice one guys, good spot :)

[2015-12-02 23:09] willl commented on #349
@kscott5 I think you're a bit confused here.

That dnx-path-rc1 branch was created by @david-driscoll purely to add additional paths to search for the dnx runtime. It's an issue people were reporting when installing ASP.NET RC 1 on OS X from http://get.asp.net as laid out in issue #347. It had nothing to do with moving omnisharp-roslyn to work run on. Until @troydai's CLI branch gets merged into m

[2015-12-03 01:10] DustinCampbell commented on #346
This service probably wouldn't solve the problem precisely. "Override" completion has pretty specialized support since it has to do extra things like move the editor caret into the generated method. This is the same situation for XML doc comment completion (which moves the caret between the inserted start/end XML tags) and partial method completion after typing the "partial" keyword.

[2015-12-04 10:14] donovanlange commented on #278
FWIW, I'm also noticing that in the process of scanning, by default the Omnisharp included with Visual Studio Code will find the built Web projects in artifacts; which by default include an App/project.json file.  This causes no amount of confusion.

[2015-12-04 11:11] davidfowl commented on #278
You can control this with `omnisharp.json`:

e.g https://github.com/OmniSharp/omnisharp-roslyn/blob/master/omnisharp.json

[2015-12-07 09:12] jrieken opened #360 "Omnisharp times out when getting started"
_From @rhires on November 21, 2015 5:30_

I'm not sure how to view any kind of log besides the basic one that vscode already provides to see what's going on with it, but for whatever reason Omnisharp fails to start because it says that it took too long. I'm happy to provide more detail for this issue, if I can get some direction on where to get the info to provide. :-)

_Copied from original issue

[2015-12-07 09:12] jrieken commented on #360
@rhires Can you provide the omnisharp log (Cmd+L,L)

[2015-12-07 09:12] jrieken commented on #360
_From @rhires on November 25, 2015 0:43_

[INFO] Starting OmniSharp at '/Users/localuser/Projects/TestProject'...
[INFO] Started OmniSharp from '/Applications/VSCode-darwin-signed/Visual Studio Code.app/Contents/Resources/app/extensions/csharp-o/bin/omnisharp' with process id 62537...
[INFORMATION:OmniSharp.Startup] Omnisharp server running using stdio at location '/Users/localuser/Projects/TestPr

[2015-12-07 09:12] jrieken commented on #360
_From @DiegoZoracKy on December 3, 2015 19:20_

@rhires

I had the same problem but updating to 0.10.3 solved it.

[2015-12-07 09:12] jrieken commented on #360
_From @rhires on December 4, 2015 1:53_

Cool. Just got the vscode 0.10.3 update. I thought you meant a separate update for omnisharp. We'll see if I continue having the time out issue. It isn't a consistent thing. Meanwhile: Interesting. I notice that the update date is 11-26-15...and vscode didn't tell me there was an update. Time for a new issue: "VScode "checking for updates" hangs and doesn't

[2015-12-07 09:12] jrieken commented on #360
_From @DiegoZoracKy on December 4, 2015 2:5_

@rhires I should have mentioned "vscode". And yes, i agree about the new issue. Like it was for you, vscode didn't tell me anything about the update.

[2015-12-07 09:12] jrieken commented on #360
@rhires @DiegoZoracKy Do you guys have mono installed or is it just coreclr?

[2015-12-07 09:12] jrieken commented on #360
_From @rhires on December 4, 2015 18:47_

Mono here...a fairly up-to-date version, too. I'll have to come back and say which version.

[2015-12-07 09:12] jrieken commented on #360
_From @wolfspider on December 5, 2015 9:30_

I have an IMac at my office where everything works perfectly however I also have a Macbook Pro where this problem has been a continual issue. I have tried reinstalling VSCode (I'm on 0.10.3) and even getting OmniSharp from Github and running it purely from there as well which generates the same error. Right now I'm running Mono version 4.2.1 as well. I

[2015-12-07 09:12] jrieken commented on #360
_From @rhires on December 5, 2015 13:1_

Hooray Open Source! So you were digging around in the code...roughly where were you looking? I'm curious if you saw anything about increased logging level or anything like that. Maybe we can turn up the logging level to see what else it might be doing. Or, we could custom build something for ourselves with lots of extra logging to see what's up...or maybe l

[2015-12-07 09:12] jrieken commented on #360
_From @wolfspider on December 5, 2015 19:49_

I was looking at the code in the Omnisharp-Roslyn project inside the file DesignTimeHostManager.cs inside the OmniSharp.Dnx folder. Beginning at line 100 we have this routine:

// Wait a little bit for it to conncet before firing the callback
                using (var socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp)

[2015-12-07 09:12] jrieken commented on #360
_From @wolfspider on December 5, 2015 23:30_

Ok, I managed to get this to work by killing the conditional statement for awaiting the socket connection and binding to 127.0.0.1 instead of using the loopback adapter. I would only suggest this if you don't mind getting your hands a little dirty and *desperate* to get this to work. Also, not really sure why this works so that in itself is problematic

[2015-12-07 09:12] jrieken commented on #360
_From @rhires on December 6, 2015 1:28_

Hmmm...you're a better coder than I...so basically, explicitly spelling out the loopback works, rather than what should be the constant (string). So maybe that's failing somehow. `socket.connected` thinks it's not connected. I wonder if the Mac OS is returning something in a way that is different than what Windows might return. Totally guessing here.

[2015-12-07 09:12] jrieken commented on #360
_From @wolfspider on December 6, 2015 2:22_

@rhires That is definitely possible, nowadays the loop back adapter is a
reference to IPv6 local address. Specifying an IPv4 address like 127.0.0.1
keeps it from binding there. That change alone didn't do it so then I had
to remove the requirement to wait for a socket to be open. There is also
the possibility that the omnisharp build process generates u

[2015-12-07 09:12] jrieken commented on #360
_From @wolfspider on December 6, 2015 17:23_

@rhires Alright mang, I wrote a simple socket tester with the internals of DTH you can find here:

https://github.com/wolfspider/ConsoleSocketTest

It *does* fail to bind so we can rule out the build weirdness. Here is my console output from this little experiment:

Jesses-MacBook-Pro:ConsoleApplication jessebennett$ cd '/Users/jessebennett/Documents/v

[2015-12-07 09:12] jrieken commented on #360
Thanks for the insights guys. First, I'll move this to omnisharp, then we tackle it there. @wolfspider I hear there is two changes (1) IPv4, IPv6 and (2) don't wait. Is that right. Do you want to do a PR against OmniSharp?

[2015-12-08 01:16] wolfspider commented on #360
I would totally be down for a PR except after putting VSCode to much more use testing this fix I found that sometimes I need to restart omnisharp and then it all syncs up. Did some more research on this issue and found this is something that is even common in the .NET framework and has been for a while:
http://stackoverflow.com/questions/2661764/how-to-check-if-a-socket-is-connected-disconnected-i

[2015-12-08 01:38] willl commented on #360
Keep in mind is that the DesignTimeHost is going away when we move to [.NET CLI](https://github.com/dotnet/cli).

@troydai has been working on that move here: https://github.com/troydai/omnisharp-roslyn/tree/trdai/cli

That's not to say that a PR should not be submitted to fix the issue right now prior to the .NET CLI work being merged in.

[2015-12-09 09:24] wolfspider commented on #360
@will Thanks for the heads up- this sounds promising and looking forward to a standard CLI!

I put some more duct tape on the sockets, as per the code on SO we're checking the socket, priming it, and seeing if its available. Figure we could do the same with the project system as well so put the same code in there too. Decided to implement the Nagle algorithm by setting NoDelay and also turned on K

[2015-12-09 19:28] wolfspider commented on #360
updated the project system gist with the correct file this time.

[2015-12-10 11:50] jrieken opened #361 "Ignoring some C# warnings of OmniSharp"
_From @zsombornagy on December 7, 2015 16:20_

Hi!

I'm trying to ignore the "Unnecessary using directive." warning in my C# code (for Unity3D).
I've created an `omnisharp.json` file with this content:

[code]

Then I opened a C# file, and restarted OmniSharp (with the command palette within Code).
But it fails with this message:

[code]

I'm using VS Code Version 0.10.3, on OS X 10.11.1.

Thanks!

[2015-12-10 11:50] jrieken commented on #361
I don't believe that supported like that, but moving to OmniSharp for comment first.

[2015-12-11 05:45] wolfspider commented on #360
@jrieken After having done a lot more testing I found that you can only query the socket correctly after binding the socket in this case. Have decided to go with an asynchronous connection polling method I've written into a SocketConnection utility class. It connects fast enough now to run without modifying the 1 min timeout in VSCode so no need to change that at all. There is no need to declare t

[2015-12-11 15:57] wolfspider commented on #360
@jrieken I've gotten a chance to run this on another Mac and think I am ready to do a PR now this makes VSCode start up much faster

[2015-12-14 14:55] jrieken opened #363 "Disappeared refereneces hint with specific sdk version"
_From @z2xlong on December 13, 2015 8:19_

I changed omnisharp sdk version from 1.0.0-beta4 to 1.0.0-rc1-update1 via this command:
[code]
and then open the vscode, the status bar display the omnisharp is running, but the references hint is disappeared, in addition I can't go to definition.

but when I set the the sdk version in global.json under solution folder as follow, the references hint and t

[2015-12-14 14:55] jrieken commented on #363
@z2xlong Please attach the OmniSharp log (Cmd+L L)

[2015-12-14 14:55] jrieken commented on #363
_From @z2xlong on December 14, 2015 14:25_

Hi jrieken,

I got the OmniSharp exception as follow:
[code]

[2015-12-14 14:55] jrieken commented on #363
k. moving to Omnisharp for further inspection

[2015-12-15 10:29] jrieken opened #366 "Improve formatting options experience"
_From @anfomin on December 14, 2015 17:34_

I've configured VS Code to always use tabs:

[code]

But C# **Format Code** command (Shift+Alt+F) always replaces tabs with spaces. I'm using OS X El Capitan.

_Copied from original issue: Microsoft/vscode#1300_

[2015-12-15 10:29] jrieken commented on #366
This is because OmniSharp doesn't support per request formatting options (https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.Abstractions/Models/v1/FormatRangeRequest.cs#L6). Moving to OmniSharp for that.

[2015-12-15 10:29] jrieken commented on #366
@anfomin - Do workaround this, you can create an `omnisharp.json` with the config

[2015-12-16 10:04] jrieken opened #367 "Intellisense CPU usage high"
_From @h0rdak on December 16, 2015 8:54_

Whenever I use intellisense in my C# projects, the CPU usage spikes and makes my fans go crazy and my laptop unbearably hot to the point it's completely unusable.

This is with vs code 0.10.3 on OSX 10.10.5, on a macbook pro.

![screenshot 2015-12-16 09 46 20](https://cloud.githubusercontent.com/assets/7004085/11836275/e1181bcc-a3d9-11e5-81f0-89ce53df1292.

[2015-12-16 10:04] jrieken commented on #367
@h0rdak Any details you can share with us? Project size and kind (dnx, msbuild) Could you attach the OmniSharp Log (Cmd+L L)?

[2015-12-16 10:21] h0rdak commented on #367
This is with an empty Unity project, using the integration plugin.

Looking at the log, I seem to be getting an exception whenever intellisense is triggered:

System.ArgumentException: Diagnostic must have span '[128..128)'

Attached log, I get a new one of these every time intellisense is triggered.

[vscodelog.txt](https://github.com/OmniSharp/omnisharp-roslyn/files/63853/vscodelog.txt)

[2015-12-16 10:30] jrieken commented on #367
Thanks. The errors are unhappy but shouldn't be the cause of the issue. Can you also hint to the version of mono you are using?

[2015-12-16 10:32] h0rdak commented on #367
Mono JIT compiler version 4.2.1 (Stable 4.2.1.102/6dd2d0d Wed Dec 2 14:02:16 PST 2015)

Was using 4.2.0 initially, ran into this and upgraded, still the same issue.

[2015-12-16 10:56] h0rdak commented on #367
I seem to have fixed the issue by installing dnvm and using it to download and install dnx-mono.1.0.0-rc1-update1

[2015-12-18 09:48] jrieken opened #369 "VSCode/OmniSharp looking for DNX runtime in wrong directory"
_From @Daniel15 on November 23, 2015 6:0_

On Mac OS, DNVM installed the DNX runtime in `/usr/local/lib/dnx/runtimes/dnx-mono.1.0.0-rc1-final`. However, OmniSharp in Visual Studio Code was incorrectly looking in `/Users/danlo/.dnx/runtimes`. To get it to work properly, I created a symbolic link:

[code]

This smells super hacky though.

_Copied from original issue: Microsoft/vscode#471_

[2015-12-18 09:48] jrieken commented on #369
_From @BenMagyar on December 8, 2015 19:15_

Provided symbolic link creates an additional folder under runtimes, so it still wasn't resolved. Correct (still hacky) symbolic link I believe is:

[code]

[2015-12-18 09:48] jrieken commented on #369
we adopted the latest version of omnisharp which should fix this

[2015-12-18 09:48] jrieken commented on #369
_From @chrisdias on December 18, 2015 2:13_

@jrieken @egamma I still see the problem with 0.10.5.

if you fully remove dnx from your machine (`rm -rf ~/.dnx`) and run setup from https://get.asp.net it will install the runtime globally into `/usr/local/lib/dnx/runtimes`.  Create a new Web App using the aspnet generator, run `dnu restore`, and then open code on the folder.

If you follow the [work

[2015-12-18 09:48] jrieken commented on #369
_From @egamma on December 18, 2015 8:14_

Not a blocker for the Dec update, since there is a work around.

[2015-12-18 09:48] jrieken commented on #369
I installed rc1 yesterday and the bit ended up in ~/.dnx. I will move this issue to OmniSharp because the lookup happens there.

[2015-12-18 12:12] david-driscoll commented on #369
@jrieken #354 should fix it, I was just waiting for some feedback before I merged it in.

[2015-12-18 15:19] jrieken commented on #369
I hope @davidfowl knows the details where to find what version of dnx?

[2015-12-21 17:19] shochet commented on #367
Same problem here with slow intellisense and high cpu. Just started after rebooting this morning.
mono-sgen and Electron Helper both run out of control for 20 seconds whenever I trigger intellisense, or go to definition, Find all references, etc.

VSCode 0.10.5
Unity 5.1.4
Mono 4.2.0
Macbook Pro OSX 10.11.2

Driving me crazy...

[2015-12-22 14:25] jrieken opened #371 "IntelliSense lost when developing with C# for Unity"
_From @cluo85 on December 21, 2015 12:44_

The IntelliSense worked fine at the beginning when I started the VS code. Sometimes after I used it for a little while, The IntelliSense would lost.
I have two ways to fix this: One is to type the command "Restart Omnisharp" and I will get IntelliSense again. Most of time this way will work, But sometimes it won't. Another way is to close vs code and reop

[2015-12-22 14:25] jrieken commented on #371
_From @VinditCo on December 22, 2015 12:45_

I think I have the same thing.
Omnisharp keeps restarting for me whilst I'm typing (every time I add a new line) - it's very annoying as the lines jump up and down as references are found. Makes VSCode pretty much unusable.

Any suggestions on how to debug this?

[2015-12-22 14:25] jrieken commented on #371
_From @BazIdle on December 22, 2015 13:27_

Can confirm the same issue with VSCode + C# + Unity. Omnisharp keeps restarting.

This is what I managed to get from embedded developer tools:
https://gist.github.com/BazIdle/df424cb5cd2b065a2618

("potentially unhandled rejected promise" and "Error: Canceled: Error: Canceled" are looping on every Omnisharp restart)

[2015-12-22 14:25] jrieken commented on #371
_From @VinditCo on December 22, 2015 13:41_

@BazIdle good find. Which Unity version are you on?

Figured a downgrade might fix it. I've tried to find previous versions of vscode for OSX with no joy. Any ideas where to find one?

(The builds on the Wiki are auto-trashed by OSX claiming they're corrupted - so I have to look elsewhere...)

[2015-12-22 14:25] jrieken commented on #371
_From @BazIdle on December 22, 2015 13:46_

@VinditCo 5.2.3f1

Are you, perchance, getting the same errors in Dev. Tools?

[2015-12-22 14:25] jrieken commented on #371
_From @VinditCo on December 22, 2015 13:51_

Looks like it ! Like 91 of Workbench causing an issue

[code]

[2015-12-22 14:25] jrieken commented on #371
_From @VinditCo on December 22, 2015 13:53_

After this and the disastrous Unity update I'm going to have a new rule: Don't download *any* software updates pushed during December.

All devs are on the egg-nog...

[2015-12-22 14:25] jrieken commented on #371
That stack trace is unhappy but won't be the cause of this issue. Can check your omnisharp log (Cmd+L, L) and paste it here?

[2015-12-22 14:25] jrieken commented on #371
_From @cluo85 on December 22, 2015 14:20_

Here is my omnisharp log. I don't know why there are some strange characters. I'm not using any Chinese characters in the directory names and project names.  There are only Chinese characters in comments.
-----------------------------------------------------------------
[INFO] Starting OmniSharp at 'd:\Work\AlienTown\AlienTown.sln'...
[INFO] Started OmniS

[2015-12-22 14:25] jrieken commented on #371
_From @BazIdle on December 22, 2015 14:24_

@jrieken here you go: https://gist.github.com/BazIdle/c1aae81f1fc6d6e0122d
(I copied only the error)

[2015-12-22 14:25] jrieken commented on #371
This seems to be an issue with omnisharp. Moving there and see what we can do

[2015-12-22 14:27] cluo85 commented on #371
By the way, my mono version is 4.2.1

[2015-12-22 15:17] VinditCo commented on #371
I'm using whichever mono comes with unity 3.5.1f. Version 2.6.5 I think ?

[2015-12-22 20:21] willl commented on #371
@VinditCo Could you try a newer version of mono? Anything above 4.0.1 should be good. Also, what OS are you using?

[2015-12-22 21:03] VinditCo commented on #371
Sorry, just checked, i have mono-4.0.2.5 installed. Should be fine though, right? Will update anyway

[2015-12-22 21:16] willl commented on #371
4.0.2.5 should be fine.

[2015-12-22 21:19] VinditCo commented on #371
Great, anything else you'd like me to check?

[2015-12-23 18:09] mostaphaRoudsari opened #372 "Support for IronPython"
I first posted this wish [here](https://github.com/OmniSharp/omnisharp-atom/issues/593) but it seems here is the right place to send this.

Any chance that omnisharp can be used for IronPython development?

In case it helps, [Visual Studio has a plugin](http://microsoft.github.io/PTVS/) which is available for free and is open source.

[2015-12-23 20:13] CapnCromulent commented on #371
I'm running into the same issue, I think. Running VSC 0.10.5, Mono 4.2.1 from a clean install, and I get a number of "[ERROR:OmniSharp.MSBuild.MSBuildProjectSystem]" errors. Seems like the omnisharp compiler is much stricter than Unity's, but doesn't report the line numbers of the errors.

[2015-12-23 20:15] VinditCo commented on #371
I downgraded to VSCode 0.9.3 newest version found here : https://github.com/Microsoft/vscode/wiki/Previous-Releases

And it's working again. Anyone know where I can find 0.10.3 (the previous build to 0.10.5) ?

[2015-12-23 20:36] BazIdle commented on #371
@VinditCo Just use the "latest" download link and modify to the version you need.
E.g. https://az764295.vo.msecnd.net/public/0.10.5/VSCodeSetup.exe >> https://az764295.vo.msecnd.net/public/0.10.3/VSCodeSetup.exe

Works for OSX links as well (I did downgrade at work, where I use Mac).

[2015-12-23 20:38] VinditCo commented on #371
Nice! Good thinking!

[2016-01-01 11:41] alistair opened #373 "WantImportableTypes on AutoCompleteRequest is not being used"
I am currently in the process of trying to update YouCompleteMe to omnisharp-roslyn and have noticed that the completions functionality seems to have regressed on respecting the WantImportableTypes functionality.

I think its actually pretty important and useful.

see the original code here
https://github.com/OmniSharp/omnisharp-server/blob/e1902915c6790bcec00b8d551199c8a3537d33c9/OmniSharp/AutoCo

[2016-01-06 17:06] GrimR3 opened #375 "VSCode /w .NET Core IntelliSense is not working"
omnisharp  in VSCode is not finding the correct directory for .Net Core which puts everything in `\.dnx\packages\`

I installed .NetCore for Windows from http://dotnet.github.io/getting-started/
`(https://dotnetcli.blob.core.windows.net/dotnet/dev/Installers/Latest/dotnet-win-x64.latest.msi)`

ran the following commands
[code]
Opened the folder in VS Code and got the following error.

    Some pro

[2016-01-08 06:44] Vidhyakp commented on #78
I need  a script editor that provides intellisense and squiggling.

With Recommender I am not able to get the "keywords" which was possible ICompletionService which was public in earlier versions of Roslyn.

Can you please whether we have any thing similar to ICompletionService that is public in the latest version or any update on making "ICompletionService" public?

[2016-01-10 00:05] NickolasAcosta commented on #336
Any updates on this?

[2016-01-14 09:42] jrieken opened #377 "namespace Autocompletion/Intellisense"
_From @TheColorRed on January 13, 2016 20:30_

In C# when typing in a namespace, there is no completion hinting of namespaces that are being used.

    namespace My.Name.Space{}

When I create a new class, vscode can auto complete the `using` part, but It doesn't autocomplete the the `namespace` part.

So, when typing `namespace My.` it should suggest `Name` and anything else within the `My` space

[2016-01-14 17:20] david-driscoll opened #378 "Question: What other editors are using the github release output?"
Omnisharp-node-client (used by atom) uses releases to pull it's artifacts over from this repo.  Are any other editors using releases as well?
https://github.com/OmniSharp/omnisharp-roslyn/releases

I ask, because as part of RC2 work, I added coreclr packages. Those coreclr packages, currently only come from the travis linux vm.  The problem with this, is that some `darwin` bits will be missing, ma

[2016-01-14 18:09] Figbash commented on #371
I'm having the same issue, I didn't find this until now but I believe this bug is identical:
https://github.com/Microsoft/vscode/issues/1935
If anyone is looking for the previous OS X release which doesn't have the issue:
https://az764295.vo.msecnd.net/public/0.10.3/VSCode-darwin.zip

[2016-01-15 11:01] DustinCampbell commented on #377
Note that this is currently the same behavior as Visual Studio. Traditionally, C# IntelliSense has not functioned when declaring namespaces because, when it was originally written (15+ years ago), there wasn't a great way to keep IntelliSense from stomping all over you when you wanted to type a new identifier. We were talking about this very problem recently and I believe we decided that we should

[2016-01-15 18:31] robbert229 commented on #378
Omnisharp-sublime currently just ships with the omnisharp-server inside of it, I would like to use releases in the future migrate to using releases though.

[2016-01-15 18:38] robbert229 opened #379 "omnisharp-roslyn fails to pass unit tests on windows"
The OmniSharp.Roslyn.CSharp.Tests are failing to complete on Windows 10.

The log can be found in [here](http://pastebin.com/aLMvcs4S)

[2016-01-15 20:17] mispencer commented on #378
I'm currently just cloning omnisharpserver and building it as part of the larger building process. Is there a benefit to using the release packages?

[2016-01-15 21:56] david-driscoll commented on #378
@mispencer it just depends on your release process and cadence, with the release package you know that specific version is available, and when you clone with some code break that it won't break the editor intentionally.

For local testing atom/vscode support he `OMNISHARP` environment variable to locate a custom executable OmniSharp

[2016-01-18 10:42] jrieken opened #380 "ubuntu 14.04 c# intellisense"
_From @iwnow on January 16, 2016 23:21_

not working intellisense .cs files, when i start type using namespace, it's not appears my namespaces from project.json file after dnu restore. Ver: 0.10.6

_Copied from original issue: Microsoft/vscode#2063_

[2016-01-18 11:13] iwnow commented on #380
I've solved the problem to installed the last mono runtime, may closed.

[2016-01-18 11:54] jrieken commented on #380
ok. thanks for getting back to us

[2016-01-18 11:54] #380 closed

[2016-01-20 05:10] ghachey commented on #347
+1 for what @david-driscoll proposes. I don't know if it is the best or even the correct way but it really should be looking in all common places and since the packages install globally by default then the symlink or reinstall in user location approaches are more work-arounds then permanent solutions.

[2016-01-20 09:28] jrieken opened #381 "QuickFix Generate a class for 'class name' in 'namespace' (in a new file) doesn't work"
_From @Taraweesh on December 22, 2015 3:36_

no files get created and omnisharp needs restart to function.
here is omnisharp log.

 [INFO] Starting OmniSharp at 'd:\c\Work\vscodeunity\vscodeunity-csharp.sln'...
[INFO] Started OmniSharp from 'c:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\jrieken.vscode-omnisharp\bin\omnisharp.cmd' with process id 2768...
[INFORMATION:OmniSharp.S

[2016-01-21 03:11] david-driscoll commented on #379
Thanks for the report, we've got this fixed now with the latest release!

[2016-01-21 03:11] #379 closed

[2016-01-21 03:13] david-driscoll commented on #375
Support for the latest dotnet-cli is coming soon, in some cases it might not work in other cases it might.

[2016-01-21 03:13] david-driscoll commented on #336
I merged the PR for the latest release, this should be available in the other editors shortly.

[2016-01-21 03:13] #336 closed

[2016-01-21 03:14] david-driscoll commented on #347
I've merged #354 with the latest release, would love to know if this is resolved / unresolved for anyone that's affected.

[2016-01-21 03:16] david-driscoll commented on #359
That's very odd... I wonder if it's a compiler bug?  @DustinCampbell do you have any idea if this might roslyn?

[2016-01-21 03:18] DustinCampbell commented on #359
Well, it certainly looks like a compiler issue.

[2016-01-21 03:20] david-driscoll commented on #359
Lets hold off on jumping on it until we settle on the dotnet cli, it's possible it's fixed at this point.

[2016-01-21 03:21] DustinCampbell commented on #359
Sure thing

[2016-01-21 05:34] DustinCampbell commented on #349
seems like this issue is dead now that we've updated to rc2.

[2016-01-21 07:55] #349 closed

[2016-01-22 19:05] rhk98 commented on #345
I have installed Atom+OminSharp on Ubuntu and even though the OmniSharp icon is green, I get no intellisense.
Mono version: Mono JIT compiler version 4.2.1
.NetCore: dnx-coreclr-linux-x64.1.0.0-rc1-update1
Atom: 1.3.0
Omnisharp on Atom:  0.26.9.

Here's my error in the Omnisharp tab in Atom. Is this the same issue described here?

[code]

[2016-01-27 17:04] wolfspider opened #391 "RC2 release and OS X"
I tested this on OS X and the build fails during CoreCLR tests which I can understand but OmniSharp seems broken as well although it builds just fine with RC2-16430. Is OS X support something we are waiting on/working on for RC2 still where OmniSharp is concerned? Here is the output from the Tests:

xUnit.net DNX Runner (64-bit DNX 4.5.1)
  Discovering: OmniSharp.Stdio.Tests
  Discovered:  OmniSha

[2016-01-28 21:16] wolfspider commented on #391
I think I am going to wait until the dust settles again looks like a lot of things are being moved around in addition to your team making some pretty big changes with the project management.

[2016-01-29 07:51] troydai commented on #391
@wolfspider indeed it is in the process of a huge changes. The recent PR (https://github.com/OmniSharp/omnisharp-roslyn/pull/392) should be able to unblock you. But it may be broke any minute in the future.

[2016-01-31 09:03] wolfspider commented on #391
@troydai Thanks for the info I'll take a look when I get a chance soon and will keep what you said in mind

[2016-02-01 14:49] jrieken opened #393 "QuickFix generate method should not add using directive"
_From @nixbb on February 1, 2016 9:36_

`editor.action.quickFix` currently adds a `using System` directive to the containing file when generating methods.

This is not always convenient and often means that the using has to be removed once the method has been fully implemented.

A lighter approach would be to change the generated method's body to `throw new System.NotImplementedException();` inste

[2016-02-04 16:59] troydai opened #396 "Suggestion: Cross-platform build script"
I’m updating the build tool chain from DNX to dotnet-cli now. To enable the build on different platforms, I have to write both bash script and ps1/batch script for cross-platform build. This is a long-term maintenance cost. I’m wondering if we can exploring the possibility of using a unified cross-plaform script language or tool to drive the build.

[2016-02-04 17:39] troydai commented on #396
/cc @david-driscoll

[2016-02-04 18:52] david-driscoll commented on #396
One of my friends was looking to get involved and wanted to build a Cake script, then we would just bootstrap the cake build for windows and osx.

I know he has made some progress, but there might be some issues with the exports in `build.sh` today.

Personally I like the idea of a Cake script, as long as it can fill our needs.  It does offer some more abstractions over what say ScriptCS has today

[2016-02-05 03:48] troydai commented on #396
I'm interested in the progress of the project. Do we already have a running prototype/version or it is still in development? The major concerns about using a newly developed tool is it will be lack of tooling support and takes time to mature.

[2016-02-08 19:36] nathanielcook commented on #375
@david-driscoll if I'm not mistaken, this doesn't have to do with the dotnet-cli. Is this not another manifestation of this issue: OmniSharp/omnisharp-vscode#12 If so, then there is a pull request out there for that: https://github.com/OmniSharp/omnisharp-roslyn/pull/397 I for example and hitting this error and I haven't upgraded to the dotnet cli yet.

[2016-02-08 19:41] nathanielcook commented on #375
Might also be a duplicate of this issue: https://github.com/OmniSharp/omnisharp-roslyn/issues/375

[2016-02-11 05:39] RichiCoder1 commented on #396
/cc @patriksvensson @devlead

[2016-02-11 05:58] RLittlesII commented on #396
I have started development of the cake script.  I have been active in the cake gitter channel around some of the environment variable concerns.  I haven't pushed any changes to my fork yet.  Sounds like the need is sooner than later.  I know there is DNU support in Cake, there is currently a PR in for dotnetcli.  I would be glad to talk through the requirements of the new script.

[2016-02-11 06:08] devlead commented on #396
:+1: @RLittlesII just ping me @patriksvensson or @gep13 or raise an issue if you encounter any obstacles/concerns with @cake-build

[2016-02-18 02:56] GuidC0DE commented on #359
It seems the problem is not reproducible anymore with the latest VS Code

[2016-02-18 13:16] DustinCampbell commented on #359
Interesting. I guess it got fixed, though I wish I knew where the bug had been. :smile:

[2016-02-24 12:01] pampersrocker opened #405 "System.ArgumentException: The parameter 'frameworkName' cannot be an empty string."
When I try to open a rather old VS 2008 Unity solution I do get the following error in VSCode and Atom:

[code]

Here's a Gist for the Minimal reproduction case (test.sln and test.csproj, fixed_test.csproj contains the workaround below): https://gist.github.com/pampersrocker/7d38b839eda1d06a4598

I've nailed down the bug to the following line:
https://github.com/OmniSharp/omnisharp-roslyn/blob/mas

[2016-02-29 18:51] troydai opened #409 "[dev] Build type reference of a project is not load correctly."
Repo:

Open https://github.com/dotnet/cli. Note that the JsonDeserializer is not recognized. Go to type action failed.

[2016-03-01 14:30] VinditCo commented on #371
Has there been any updates on this. All current versions of Visual Studio Code (from 10.3 onwards) have this bug. Is there anything else we can do to track it down?

[2016-03-03 23:43] troydai opened #412 "[dev] Automatically configure the DOTNET_REFERENCE_ASSEMBILES_PATH variable if it not set."
The variable is required by dotnet to compile projects which target desktop CLR. It’s usually missing on most environment. Once it is missing Roslyn will fail to resolve any BCL types and there is no intuitive error or warning for user to correct their environment.

[2016-03-03 23:46] troydai commented on #412
Alternative solution: Fail and send warning early if mono is missing.

[2016-03-03 23:49] troydai commented on #391
@wolfspider `master` branch is reversed to last stable status which is `beta8`. In the meantime, `dev` branch is updated to use [dotnet-cli](https://github.com/dotnet/cli) to build and all packages versions are pinned. So both branches are stable.

Is it ok if I close this issue?

[2016-03-03 23:54] wolfspider commented on #391
Yeah should be fine to close it. admittedly ive been neck deep in work
related demos and haven't had the time to review Roslyn much at all
unfortunately. This issue was mainly just to ask if it was done and that
seems to be the case now.

On Thursday, March 3, 2016, Troy Dai <notifications@github.com> wrote:

[2016-03-04 11:53] hal-ler commented on #396
I have made a pull request to make it possible to set the install path for dotnetcli as a command line argument instead of being forced to use the environment. This functionality already existed in the linux script, but not the powershell one. Using this change I was able to quickly create a Cake script which builds the dnxcore50 variant on Windows (and should work for Linux as-well, but still nee

[2016-03-04 18:09] troydai commented on #396
@hal-ler I just pinged a few guys on the cli team to review and sign off the change.

[2016-03-04 19:01] troydai opened #413 "[dev] Intellisense in project.json is broken / missing"
### Scenario
1. Open asp.net project
2. Open project.json
3. Type half package name

### Expectation
Intellisense prompt potential package candidates.

[2016-03-04 19:13] troydai opened #414 "[dev] Update global.json to include new projects in VS code won't add these projects to roslyn workspace"

[2016-03-04 19:28] anurse commented on #412
I'd suggest closing this without fixing in favor of fixing https://github.com/dotnet/cli/issues/531

[2016-03-04 19:32] RLittlesII commented on #396
@troydai I haven't made much progress on this.  I have been struggling to get omnisharp to build on my mac.  I haven't moved much further on the script, I just resolved some dotnet pathing issues last week.  I'll take a look at this and see if I can get dotnet to build the project and run the unit tests with the cake script.

[2016-03-04 22:13] troydai opened #415 "[dev] Implement the DotNetWorkspaceInformation correctly"

[2016-03-04 22:15] troydai commented on #415
VS Code asks for
1. Project paths;
2. Source files

[2016-03-05 21:16] troydai commented on #391
Thanks @wolfspider . I’ll close this issue for now. Feel free to open new ones if you find anything wrongs with the `dev` branch.

[2016-03-05 21:16] #391 closed

[2016-03-07 02:53] GuardRex opened #418 "Failed to build OmniSharp.Abstractions"
@troydai Following our comments at https://github.com/dotnet/cli/issues/1618#issuecomment-191970379

I don't have the `DNX_UNSTABLE_FEED` set on my Win10 laptop. It fully restores, but I ran into this (twice) attempting to build ...

![capture](https://cloud.githubusercontent.com/assets/1622880/13559767/73bc69ec-e3cc-11e5-8751-41f611cdf872.PNG)

![capture1](https://cloud.githubusercontent.com/asse

[2016-03-07 05:29] troydai commented on #418
Thanks for reporting this, @GuardRex . You don't need to remove the framework. Everything is supposed to work right away.

I won't be able to repo this failure. But there are a few things you can begin with to solve this issue.

1. I suspect some cached old packages is misleading the restoring. Can you try clean the cached packages? Remove following folders: `%userprofile%\.nuget\package` and `%lo

[2016-03-07 14:30] GuardRex commented on #418
It was a fresh install of `dotnet cli`, VS Code, and `DNVM`/`DNX` on the laptop. Although, idk if the NuGet cache folder may have had packages prior to these installs.

I ran `dotnet build` from the folder, and it came out ...

![capture](https://cloud.githubusercontent.com/assets/1622880/13572214/ed731af4-e42d-11e5-9287-8afb3d36c9d7.PNG)

[2016-03-07 14:35] GuardRex commented on #418
@troydai It seems to like `dnxcore50` (and I forgot for a sec about the `-f` switch, but know now) ...

![capture1](https://cloud.githubusercontent.com/assets/1622880/13572345/acae418c-e42e-11e5-85e9-9d7a6e82d5b9.PNG)

I'm going to proceed with an attempt to build the whole thing for `dnxcore50` and report back.

[2016-03-07 14:48] GuardRex commented on #418
@troydai Doesn't look like it worked out. A few warnings thrown for dep conflicts. There is an error in the OmniSharp Log in VS Code ...

![capture](https://cloud.githubusercontent.com/assets/1622880/13572680/6d17b858-e430-11e5-9bdb-43df8b72fab0.PNG)
![capture1](https://cloud.githubusercontent.com/assets/1622880/13572683/702a1446-e430-11e5-8416-039453d43b99.PNG)
![capture2](https://cloud.githubuse